[2017-05-20 13:31] xie-dongping opened #1 "Install from PyPI"
Although the project can be found on https://testpypi.python.org/pypi/fmpy/0.0.1

installation per
[code]
still doesn't work for me (on Linux with Python 3.6)

[2017-05-20 13:33] xie-dongping opened #2 "Use RST for README (PyPI)"
PyPI doesn't seem to support rendering markdown, while rst would work both for Github and PyPi.

http://stackoverflow.com/questions/26737222/pypi-description-markdown-doesnt-work

[2017-05-21 20:55] t-sommer commented on #2
Resolved as of v0.0.3

[2017-05-21 20:55] #2 closed

[2017-05-21 20:56] #1 closed

[2017-09-05 10:25] kevin-kaspar opened #5 "Incomplete path to fmuResourceLocation"
fmi2Instantiate is called with the wrong path for the fmuRessourceLocation,
since self.fmuLocation points to the unzipped FMU, but the fmuRessourceLocation should point to the resources directory of the unzipped FMU.

# fmi2.py
`self.component = self.fmi2Instantiate(self.instanceName.encode('utf-8'),
									  kind,
									  self.guid.encode('utf-8'),
									  self.fmuLocation.encode('utf-8')

[2017-09-05 14:11] t-sommer commented on #5
Fixed in 93151d0ed8425268f9f41404b3d998b4f590f1e2

[2017-09-05 14:11] #5 closed

[2017-09-12 08:51] kevin-kaspar opened #6 "Error in setInteger method (FMI2)"
The method setInteger (FMI2) contains the implementation of setString:

# fmi2.py - v0.0.8.
[code]

# fmi2.py - correction
[code]

[2017-09-14 14:14] t-sommer commented on #6
Solved as of 49e9367. Thanks for reporting!

[2017-09-14 14:14] #6 closed

[2017-12-10 15:55] krzysztofarendt opened #7 "Cannot simulate example parameter_variation.py on Linux"
https://trac.fmi-standard.org does not contain Rectifier.fmu for linux64/Dymola.
When I try to simulate parameter_variation.py on Linux I get the following error:
[code]
Other examples run fine. It would be helpful to mark OS-dependent tests and maybe disable them on unsupported platforms.

(Thanks for your work on this package :+1: )

[2017-12-10 15:59] krzysztofarendt commented on #7
I noticed on README.rst that this FMU is available here:
https://trac.fmi-standard.org/export/HEAD/branches/public/Test_FMUs/FMI_2.0/CoSimulation/linux64/MapleSim/2016.2/Rectifier/Rectifier.fmu

So maybe a system dependent link would be a good idea.

[2017-12-10 20:24] t-sommer commented on #7
The MapleSim FMU does not expose the required parameters for the variation. I've added a platform check in 931916e that raises an exception when run on platforms other than windows.

[2017-12-10 20:24] #7 closed

[2018-01-03 08:19] t-sommer opened #8 "Read "Outputs" and "Derivatives" information from model description"
The "Unknown" elements in "ModelStructure/Outputs" and "ModelStructure/Derivatives" are currently not read from the modelDescription.xml.

[2018-01-03 09:57] t-sommer commented on #8
"Outputs" and "Derivatives" are added in df3ace8c.

[2018-01-03 09:57] #8 closed

[2018-01-10 13:44] MikeBarth opened #9 "FMPy on RPI3"
Hi,
I tried to launch FMPy on a Raspberry Pi model b. The installation was successful and I managed to load the 32bit LINUX FMU (Model Exchange). I can also display the model information. As soon as I start simulating, I get the error message that the shared object file cannot be found.
![image](https://user-images.githubusercontent.com/35299755/34775627-23e5ca4c-f614-11e7-8c73-940a8569e9a1.png)
B

[2018-01-10 14:08] t-sommer commented on #9
Does the FMU support linux32? You could try https://trac.fmi-standard.org/browser/branches/public/Test_FMUs/FMI_2.0/CoSimulation/linux32/MapleSim/2015.2/Rectifier

[2018-01-10 14:15] t-sommer commented on #9
The problem seems to be the CVode solver which comes as an .so file (but only for linux64). To work around this problem you could:

- use a co-simulation FMU or
- use `simulate_fmu('Rectifier.fmu', solver='Euler')`

[2018-01-10 14:49] t-sommer commented on #9
The shared libraries in binaries/linux32/ are most likely compiled for x86 (PC) but the Raspberry Pi 3 has an ARMv8 chip. You could try to build the shared library from an FMU that provides source code (e.g. https://trac.fmi-standard.org/browser/branches/public/Test_FMUs/FMI_2.0?order=name#CoSimulation/win64/Dymola/2017/Rectifier).

[2018-01-10 14:58] MikeBarth commented on #9
Hello Torsten,

thank you for your quick reply.
The first idea: use simulate_fmu('Rectifier.fmu', solver='Euler') did not work.

How do I build the shared object lib from the example you linked? And how do I get the needed FMU from that?

Best Regards
Mike

Von: Torsten Sommer [mailto:notifications@github.com]
Gesendet: Mittwoch, 10. Januar 2018 15:50
An: CATIA-Systems/FMPy <FMPy@noreply.github.co

[2018-01-10 15:12] MikeBarth commented on #9
Co-Simulation models (linux32) result in the same problem.

Von: Torsten Sommer [mailto:notifications@github.com]
Gesendet: Mittwoch, 10. Januar 2018 15:08
An: CATIA-Systems/FMPy <FMPy@noreply.github.com>
Cc: Barth, Mike <mike.barth@hs-pforzheim.de>; Author <author@noreply.github.com>
Betreff: Re: [CATIA-Systems/FMPy] FMPy on RPI3 (#9)

Does the FMU support linux32? You could try https://trac.fmi-

[2018-01-10 20:22] chrbertsch commented on #9
The problem is, that "linux32" in fact means "Linux32 on an Intel platform".
The binaries folder name for Linux on Raspi3 is not yet standardized, see the discussion here.
I prototypically created and simulated FMUs for Raspi 3 with a fork of the FMU-SDK https://github.com/chrbertsch/FMUSDK_fork using the preliminary binaries folder name "linux-armv7l".
So one could either adapt FMPy to support th

[2018-01-10 21:30] t-sommer commented on #9
Just download and extract [Rectifier.fmu](https://trac.fmi-standard.org/export/HEAD/branches/public/Test_FMUs/FMI_2.0/CoSimulation/win64/Dymola/2017/Rectifier/Rectifier.fmu) (it's a ZIP archive with a different file extension). Inside you'll find a `sources` folder that contains the C sources and a `documentation` folder that contains some basic instructions. You'll also need the FMI header files

[2018-01-12 12:58] chrbertsch opened #10 "Output interval specification"
Currently one can only specify a fixed output interval for ME simulation.
It would be beneficial to have a possibility to to also get output values at events.
So it would be best to have the following options:

- constant output interval (current implementation)
- all output values
- Constant output interval + event points

[2018-01-12 13:05] chrbertsch opened #11 "Tolerances for CVode"
It would be beneficial to be able to set the absolute and relative tolerances for the CVode Solver and not use default values.

[2018-01-12 13:26] t-sommer commented on #9
I'm closing this issue since it's not really a problem that can be solved in FMPy.

[2018-01-12 13:26] #9 closed

[2018-01-12 15:10] t-sommer commented on #10
Option 3 is is actually the default for ME: sample after every step and (additionally) sample after every event. Please re-open if you need extra options.

[2018-01-12 15:10] #10 closed

[2018-01-12 15:28] t-sommer commented on #11
The relative tolerance for CVode can be set with the relative_tolerance parameter. This value is also used for the absolute tolerances. Please re-open if you want this changed.

[2018-01-15 18:51] chrbertsch opened #12 "CVode Error depending on combination of output_interval and stop_time"
For the bouncingBall.fmu (64bit Windows) from the FMU-SDK 2.0.5 I get an error with FMPy when simulating (tested with the development branch for certain combinations of output_interval and stop_time.
For example for

I get:
[CVODE ERROR]  CVode
  At t = 0.996514, mxstep steps taken before reaching tout.

....
However for

There is no error.

[bouncingBall.zip](https://github.com/CATIA-Systems/FMPy

[2018-01-16 11:06] t-sommer commented on #12
The attached FMU does not specify a relative tolerance (no `<DefaultExperiment>` in the modelDescription.xml) so the default value of `1e-5` is used which is too restrictive for this model. However you can set the relative tolerance explicitly:

`simulate_fmu('bouncingBall.fmu', relative_tolerance=1e-4, output_interval=0.01, stop_time=1)`

[2018-01-16 19:14] chrbertsch commented on #12
The error of good solver like CVODE should go to zero as the tolerance is reduced. It is good practice to perform a convergence study for a simulation, step by step reducing the tolerance. Thus I do not understand why a tolerance of 1e-5 should be too small.
The error does not occur for

`result = simulate_fmu(fmu, output_interval=0.001, stop_time=1)`, i.e with a tolerance of 1e-5.

I do not see t

[2018-01-16 19:50] t-sommer commented on #12
This seems to be an issue that is related to CVode and has been discussed [here](http://sundials.2283335.n4.nabble.com/Error-quot-mxstep-steps-taken-before-reaching-tout-quot-td3239188.html). The proposed solution is to

We could expose `CVodeSetMaxStep()` and make the value adjustable.

[2018-01-16 20:39] chrbertsch commented on #12
Yes, this would be vrey good. Is it possible also to parse the error of CVode and give the user a hint what do in this case.

[2018-01-17 15:00] t-sommer commented on #12
It's possible to handle the error by setting an error handling function:

`typedef void (*CVErrHandlerFn)(int error_code, const char *module, const char *function,  char *msg, void *user_data);`

For the example above you would get:

`error_code: -1 (CV_TOO_MUCH_WORK)`
`module: "CVODE"`
`function: "CVode"`
`msg: "At t = 0.00499, mxstep steps taken before reaching tout."`

What would be the hint in

[2018-01-17 17:14] t-sommer commented on #12
The problem was actually shadowed by a wrong positional argument to the CVodeSolver constructor that has been fixed in d52a24d8. Please reopen if you can still reproduce the problem.

[2018-01-17 17:14] #12 closed

[2018-01-18 19:42] chrbertsch commented on #9
@MikeBarth : how did you install FMPy on Raspi? I failed with Miniconda due to several reasons (related due to platform, missing packages, compile errors, ....)
Do you use Miniconda? Which version of Python do you use? How do you install missing packages and fmpy?
Thanks in advance.
P..S.: You could now try out Source Code FMU from the development branch, see https://github.com/CATIA-Systems/FMPy/

[2018-01-19 09:31] MikeBarth commented on #9
I am using the HOMEGEAR System on my PI which is a very performant version of Raspbian. You can find it here:

https://homegear.eu/

The installation runs with Python3 PIP without problems. Do you think we could try running FMUS on the PI together?

Von: chrbertsch [mailto:notifications@github.com]
Gesendet: Donnerstag, 18. Januar 2018 20:45
An: CATIA-Systems/FMPy <FMPy@noreply.github.com>
Cc: Bar

[2018-01-20 10:32] traversaro opened #13 "Simulating an FMU with no outputs produced by OpenModelica 0.13 nightly results in 'Bad file descriptor' exception in Ubuntu 16.04 with Python 2.7"
I notice that simulating an FMU with no outputs creates a 'Bad file descriptor' exception in Ubuntu 16.04, and it leaves the interpreter hanging.

To replicate the problem, this is the FMU file (renamed to .fmu.zip to comply to GitHub's restrictions on attaching files to issues)  [NoOutputSystem.fmu.zip](https://github.com/CATIA-Systems/FMPy/files/1648717/NoOutputSystem.fmu.zip) that is creating t

[2018-01-21 16:02] t-sommer commented on #13
There seems to be a problem with either your FMU or your Python. The bouncingBall.fmu from the [FMU SDK](https://www.qtronic.de/en/fmusdk.html) (no inputs and outputs) simulates fine on my Ubuntu 16.04 with Anaconda Python 3.6. Does your FMU simulate in another tool e.g. the FMU Compliance Checker available [here](http://fmi-standard.org/downloads/)? If so can you install Anaconda and try again wi

[2018-01-21 16:25] chrbertsch commented on #13
I can confirm this for the bouncing ball FMU from the FMU SDK with FMPy from the development branch.
Anyway, is there a possibilty to get and plot results for internal variables that are no outputs with the simulate_fmu command?

[2018-01-21 18:03] traversaro commented on #13
Indeed, I had other problems with FMUs produced by that OpenModelica on my setup.
Apparently I was using OpenModelica nightly, by using the released version of OpenModelica everything is working fine.
Thanks for the insight and sorry for the noise!

[2018-01-21 18:03] #13 closed

[2018-01-30 12:55] tomlankhorst opened #14 "Plot with matplotlib hangs on MacOS"
While exploring the examples a ran into the following issue:

`python -m fmpy.examples.coupled_clutches`

Hangs at:

[code]

I added an extra import statement and matplotlib.use() call [like suggested here](http://www.markhneedham.com/blog/2015/03/26/python-matplotlib-hangs-and-shows-nothing-mac-os-x/) which solved the issue.

[code]

Running Mac OS 10.13.2 (17C205)

[2018-01-30 13:23] tomlankhorst opened #15 "Connect multiple FMUs"
What would be the recommended way to simulate interconnected FMUs using FMPy?

[2018-01-30 20:03] fmahiant commented on #15
Hi,
I use this way, it works very well...

https://github.com/CATIA-Systems/FMPy/wiki/Simulate-SPPs

Fred.

On 30 January 2018 at 14:24, Tom Lankhorst <notifications@github.com> wrote:

[2018-01-30 20:06] chrbertsch commented on #15
It would be great to have also an example for connected ME FMUs

[2018-01-30 20:28] t-sommer commented on #15
Another option is to write a custom simulation loop and to connect the FMU instances using their get*/set* functions. You can use [custom_input.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py) as a starting point.

[2018-01-30 21:29] tomlankhorst commented on #15
Great! I might send a PR when I have some interesting examples to share.

[2018-01-31 15:02] t-sommer commented on #14
Can you add steps to reproduce the problem? The following works fine on my machine.

[code]

[2018-01-31 16:42] t-sommer commented on #9
I've added a [short tutorial](https://github.com/CATIA-Systems/FMPy/wiki/RaspberryPi) that shows how to compile and simulate source code FMUs on a Raspberry Pi.

[2018-02-01 13:00] MikeBarth commented on #9
Works perfect. Only the OpenModelica examples do not work. Could please check if they work on your system?
https://trac.fmi-standard.org/browser/branches/public/Test_FMUs/FMI_2.0/CoSimulation/c-code/OpenModelica/v1.11.0?order=name

Von: Torsten Sommer [mailto:notifications@github.com]
Gesendet: Mittwoch, 31. Januar 2018 17:43
An: CATIA-Systems/FMPy <FMPy@noreply.github.com>
Cc: Barth, Mike <mike.b

[2018-02-01 15:31] t-sommer commented on #9
The OpenModelica FMUs are missing a `<SourceFiles>` section in the modelDescription.xml as required by the [FMI 2.0 Specification](https://svn.modelica.org/fmi/branches/public/specifications/v2.0/FMI_for_ModelExchange_and_CoSimulation_v2.0.pdf) (page 66) for source code FMUs.

[2018-02-12 10:26] Flancis opened #16 "ValueError: need more than 0 values to unpack"
Hi,

While trying to run the [example](https://github.com/CATIA-Systems/FMPy) with the option "Simulate an FMU in Python", it gives the following error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\fmpy\util.py", line 299, in plot_result
    fig.set_size_inches(w=8, h=1.5 * len(names), forward=True)
  File "C:\Python27\lib\site-pac

[2018-02-12 12:57] t-sommer commented on #16
Does the variable `result` contain any data? It should look like this:

[code]

[2018-02-12 13:28] Flancis commented on #16
It has the following data.

`>>> result = simulate_fmu(fmu)

array([(0.    , 282.84271247), (0.0002, 279.50415444),
       (0.0004, 276.18412444), (0.0006, 272.91586236),
       (0.001 , 266.55164241), (0.0012, 263.4007149 ),
       (0.0014, 260.19377457), (0.0016, 256.87504161),
       (0.0018, 253.53799044), (0.002 , 250.20858021),
       (0.0022, 247.01749935), (0.0024, 244.18026082),
       (0

[2018-02-12 14:08] Flancis commented on #16
It seems like the problem was caused by an old version `matplotlib`. After updating the latest version, I can see the figure without error now.

Thanks.

[2018-02-12 21:09] #16 closed

[2018-02-12 21:11] Flancis opened #17 "No module named fmpy.gui"
Hi,

When trying to open the gui, it gives the following error.
`No module named fmpy.gui`.

Also, in the installation folder, there is no `gui` folder as the one in github.

Any idea why?

Thanks in advance.

[2018-02-12 22:15] Flancis commented on #17
May it is related to the installed version? Using the `conda install -c conda-forge fmpy` command, the latest version `v0.2.0` should be installed. Instead, version `v0.1.2` was installed. So how to install the latest version?

[2018-02-13 08:11] t-sommer commented on #17
You did everything right. There is currently a problem with the conda forge build that fails on Windows for all Python versions except 3.5. You can find a list of the available conda packages [here](https://anaconda.org/conda-forge/fmpy/files). In the meantime you can install the latest version via pip or directly from github (see [README.md](https://github.com/CATIA-Systems/FMPy#installation)).

[2018-02-13 09:21] t-sommer commented on #17
The issue is [resolved](https://github.com/conda-forge/fmpy-feedstock/commit/a41ea51065287fe75a52afe43a56772fd5dc4ddb). You should be able to install the latest version with conda now.

[2018-02-13 09:21] #17 closed

[2018-02-13 11:32] Flancis commented on #17
Also, maybe the conda command could be updated to `conda install -c conda-forge fmpy`.

[2018-02-13 11:36] Flancis opened #18 "Closed loop simulation"
I see that one can simulate several FMUs with SSP. Is there a similar procedure for closed loop simulation? For example, a controller designed directly in Python and an FMU plant?

[2018-02-13 12:47] wulmer opened #19 "Misleading error message in case of wrong fmi_type argument"
If the user specifies an invalid `fmi_type`, e.g. `fmi_type='CoSimulation` for a ME-only FMU, this is not caught during the argument checks below:
https://github.com/CATIA-Systems/FMPy/blob/35245dd8bf2b8be2a8e750b04bd29df4557d3032/fmpy/simulation.py#L355-L360
You will get another error from some later code where `fmi_type` is used (even if it is wrong).

Sorry, I can't provide a PR yet, but the fi

[2018-02-13 14:11] t-sommer commented on #19
Fixed with 78e9b790. Thanks for reporting!

[2018-02-13 14:11] #19 closed

[2018-02-13 14:16] t-sommer commented on #18
You could adapt the [custom_input.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py) example and use the get*() / set*() functions to interact with the FMU.

[2018-02-13 14:29] t-sommer commented on #17
Fix with 63187719. Thanks for reporting!

[2018-02-13 15:46] Flancis commented on #18
Thanks. Will try that.

[2018-02-13 15:57] #18 closed

[2018-02-13 15:57] #14 closed

[2018-02-13 18:02] Flancis opened #20 "Change parameter values and modify variables for output"
Within the Modelica model one can set some default values for parameters. Also, one can define variables for output. However, for a very complicated model, sometimes it is very difficult to output every desired variable, e.g., protected variables. Therefore, is it possible to modify parameter values and add output variables using Python code or the fmpy.gui?

[2018-02-14 08:02] t-sommer commented on #20
Take a look at the [coupled_clutches.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/coupled_clutches.py) example. It sets a start value for the variable `CoupledClutches1_freqHz` and selects the variables `outputs[1]`, `outputs[2]`, `outputs[3]`, `outputs[4]`as outputs.

The same can be achieved in the GUI by writing the start value in the respective fields.

[2018-02-14 09:34] Flancis commented on #20
Thanks for the explanation. It is a very nice feature to be able to modify the start value in the GUI. How about examining the value of protected intermediate variables then?

[2018-02-14 10:30] t-sommer commented on #20
Just plot the variable or export the results. You'll get the value at every time step.

[2018-02-14 10:43] Flancis commented on #20
Maybe I did not explain it clearly. I meant the protected variables inside FMU. Those variables were not defined as output. The reason I am asking this is that in the FMU Simulink interface one can redefine new output variables by just dragging the intermediate variables to the output port of FMU.

[2018-02-14 11:13] t-sommer commented on #20
Any variable listed in the `modelDescription.xml` of an FMU can be added to the results of a simulation or be plotted in the GUI regardless of its causality.

[2018-02-14 12:41] Flancis commented on #20
Now I see how to plot those variables in the GUI. But I am still not sure how to "add those variables to the results" in Python code. Could you be more specific about this? I am new to Python, and sorry about having so many questions.

[2018-02-14 20:47] Flancis commented on #20
Thanks for the explanation. Finally figured out how to add more output variables. One can just add variables described in the `modelDescription` file to the output variable like the following.
 `output=['outputs[1]', 'outputs[2]', 'outputs[3]', 'outputs[4]', 'der(outputs[1])', 'der(outputs[2])', 'der(outputs[3])', 'der(outputs[4])']`.

[2018-02-14 20:56] #20 closed

[2018-02-16 14:38] wulmer opened #21 "Problem with pypiwin32 dependency"
Hi, as we are using conda for managing package dependency, `fmpy` gets installed as conda package with a dependency to `pywin32`. So far so good.

But when I run `python setup.py develop` in my project (which requires `fmpy` in its setuptools config), setuptools fails because it cannot find the dependency `pypiwin32` (there is only `pywin32` installed).

Any reason why the dependency is on `pypiwi

[2018-02-17 10:54] t-sommer commented on #21
Can you try if 14e1c6fd solves your problem? Alternatively you could try to install the package without dependencies with `python setup.py develop --no-deps`.

[2018-02-19 15:01] wulmer commented on #21
Thanks for the hint with `--no-deps`. This of course solved my issue. The patch in 14e1c6f also solves the issue.

Although I would prefer having `pywin32` in the dependencies list, I can also live with using `--no-deps`.

[2018-02-20 09:20] t-sommer commented on #21
If you [install pywin32 via PIP](https://github.com/mhammond/pywin32/#installing-via-pip) you have to manually run their post-install script. I find this very inconvenient.

[2018-02-21 13:16] Flancis opened #22 "Not enough storage error"
Hi, I have a very complicated FMU model. Sometimes when I simulate the model using the template `custom_input.py`, it gives some errors. However, when I reopen the Spyder console, the errors disappeared. Anyway, part of the errors are as follows.

  File "D:\Software\Miniconda3\envs\py36_32\lib\site-packages\spyder\utils\site\sitecustomize.py", line 705, in runfile
    execfile(filename, namespace

[2018-02-21 14:30] t-sommer commented on #22
Maybe you run out of memory when loading the DLL. From the environment name `py36_32` I assume you're using a 32-bit Python. Have you tried with a 64-bit Python?

[2018-02-21 14:57] Flancis commented on #22
Yes, I am using the 32-bit Python because the solver DLL is limited to 32 bit. Like I mentioned previously, the errors now disappeared in the 32-bit Python. Since the code now works fine in the 32-bit Python, it is also normal in the 64-bit Python now. Not sure if the problem will happen again though.

[2018-02-22 07:32] t-sommer commented on #22
I'm closing this as the problem does not seem to be caused by FMPy. Please re-open if you can provide a reproducible test case.

[2018-02-22 07:32] #22 closed

[2018-02-22 22:29] Flancis opened #23 "Setup start value for the custom input example"
Hi, in the `coupled_clutches.py` example one can set the start value using the `simulate_fmu` functionality. Is there a similar way to modify the start value (of a parameter) for an FMU instance? For example, how to modify the start value for the FMU in the `custom_input.py` example? To be specific, the parameter might have the following property, and I would like to modify the value 1.
`<ScalarVa

[2018-02-23 09:06] t-sommer commented on #23
You can use [apply_start_values()](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L230) or set the values directly (see [parameter_variation.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/parameter_variation.py#L73)):

[code]

[2018-02-23 09:53] Flancis commented on #23
Hi, thanks for the explanation. I tested both options on the `custom_input.py` example, but it seems like OPTION 1 did not affect the result. I guess the two methods are essentially different? Maybe OPTION 1 did not work in the case `variability = "fixed"`? The following changes are made on the example.
`# OPTION 1`
`fmu.setReal(vr=[67], value=[0.4])`
`# OPTION 2`
`apply_start_values(fmu, model_de

[2018-02-24 09:12] Flancis commented on #23
By the way, both methods work in the case `variability = "tunable"`.

[2018-02-24 13:29] #23 closed

[2018-02-26 13:16] t-sommer commented on #21
Fixed with be28638d. The PIP installation problem seems to be resolved as of [pywin32 v223](https://github.com/mhammond/pywin32/releases/tag/b223).

[2018-02-26 13:16] #21 closed

[2018-02-26 13:35] wulmer commented on #21
Great. Thanks.

Torsten Sommer <notifications@github.com> schrieb am Mo., 26. Feb. 2018,
14:16:

--
Signal (https://sgnl.link/1KpeYmF)
Threema (https://threema.ch/download, threema://add?id=F9KEHRZ4)
Telegram (https://telegram.org/)

[2018-02-26 13:59] DaJansenGit opened #25 "serialize FMU state"
Hey
i realized that FMPy doesn't bring the option to serialize an FMU state. It would be really nice if you implement this feature FMI Feature (`fmi2SerializeFMUstate`) because the FMU states couldn't be stored by pickle. Or do you have any other idea how to store them?

[2018-02-26 14:28] t-sommer commented on #25
`fmi2SerializeFMUstate` and `fmi2DeSerializeFMUstate` are the right way to retrieve / set the state of an FMU (given the FMU supports it). Pickle would probably not work because you also have to extract the FMU, load and initialize the shared library. Can you add some info or pseudo code on how you intend to use the functions?

[2018-02-26 14:40] hyumo commented on #25
I think it would be interesting if some features like importing the dsfinal.txt file in Dymola could be implemented. Instead, fmupy could use serialized fmu states.

[2018-02-26 14:56] DaJansenGit commented on #25
Thanks for the fast reply.
In my specific case i want to store the FMU state in a file because i want to continue the simulation a few days later but because it's very time consuming i don't want to start it from zero again.

So it would be something like this
Day x:
`fmu.simulate`
`state_x = fmu.get_fmu_state()`
`state_x_byte_vector = serialize_fmu_state(state_x)`
`store state_x_byte_vector with

[2018-02-27 10:52] t-sommer commented on #25
Just added the missing functions. See [test_serialize_fmu_state.py](https://github.com/CATIA-Systems/FMPy/blob/develop/tests/test_serialize_fmu_state.py) for an example.

[2018-02-27 10:52] #25 closed

[2018-02-27 12:56] DaJansenGit commented on #25
Wow that was fast. Thank you really much for the fast integration.

[2018-02-28 17:53] wulmer opened #26 "Problems with multiprocessing caused by the zipfile module"
I was investigating on a really strange issue today: I was using `fmpy` in our project together with a larger multiprocessing setup (doing parallel simulations) and I encountered a strange error (which was hard to debug due to multiprocess stuff) when running on Linux (funnily, Windows worked). The result was a `BrokenProcessPool` error or a `queue.Full` error.
After several hours of slicing away

[2018-03-01 08:06] t-sommer commented on #26
Thanks a lot for digging into this and the detailed description! Can you please try if e32601c solves your problem? It adds a [lock](https://docs.python.org/2/library/threading.html#lock-objects) to synchronize the section that causes the problem so only one thread can access it at a time.

[2018-03-01 15:14] wulmer commented on #26
Thanks. I tried your version with the thread lock, however with no change. The process still crashes. I then tried different Python versions, went from 3.6.2, 3.6.1, 3.6.0 down to 3.5.1. At least the 3.5 version gave me a more helpful C stacktrace. Here is the stacktrace of the crash in 3.5.1 (no difference with or without the thread lock):

[code]

I can now see the connection to the `tables` pac

[2018-03-01 15:44] alexa-f opened #27 "Permission Error with DYMOLA FMU"
Hi,

I am facing an issue (dll not unlinked, see error message below) with FMUs generated with Dymola (tested with Versions 2017FD01, 2018FD01). The simple example below works fine, when using the FMU provided by the following link:

[](url)https://trac.fmi-standard.org/browser/branches/public/Test_FMUs/FMI_2.0/ModelExchange/win64/Dymola/2017/CoupledClutches/CoupledClutches.fmu

I am working with

[2018-03-01 16:30] wulmer commented on #26
Ok, the problem doesn't appear if I import `zipfile` before `tables` (at least not in my minimal example script). It seems the `tables` package is preloading a few compression libraries and somehow this interferes with the use of the `zipfile` module.

I tried to use this solution in our full project setup and tried to import `zipfile` right at the beginning. However this somehow fails. I can't ma

[2018-03-01 16:45] t-sommer commented on #27
I just exported the `Modelica.Mechanics.Rotational.Examples.CoupledClutches`model with the above settings from Dymola 2018FD01 and it runs without problems using the code you posted. Can you try with a different Python environment or on a different machine?

[2018-03-01 16:55] t-sommer commented on #26
While it absolutely makes sens to synchronize calls to `zipfile`, is it possible that [PyTables itself is not thread save](http://www.pytables.org/latest/cookbook/threading.html)?

[2018-03-01 17:27] t-sommer commented on #26
Although it's not a direct solution for your problem you might want to try [Dask](https://dask.pydata.org/en/latest/) to distribute the work (like in [parameter_variation.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/parameter_variation.py)). It allows you to switch between multi-processesing, multi-threading and [synchronized execution](https://github.com/CATIA-Systems/FMPy/

[2018-03-02 08:38] alexa-f commented on #27
I could reproduce the error with a new Python (2.7.14) environment and also on a different machine. I am working with Windows 10 on both machines. Which operating system do you use?

[2018-03-02 11:17] alexa-f opened #28 "Results not on a regular time grid"
Hi,

I need the results to reside on a regular grid and I was expecting this behaviour since I explicitly specified the `output_interval`. Observing the actual output I found three issues, where I am not sure if this is intended by the author:

1. doesn't start at t=0s,
2. some samples are droped, e.g. at t=0.06s,
3. grid is shifted starting after t=0.42s.

Could you please clarify? Thanks.

# Sim

[2018-03-02 11:48] alexa-f commented on #27
The root cause for this problem seems to be in the Dymola FMU export. Something increases the reference count on the loaded DLL so that it has to be unloaded multiple times.

[2018-03-02 11:48] #27 closed

[2018-03-02 11:48] t-sommer commented on #28
The `CVode` solver influences the actual output interval. If you need the sample points to be regular you can either use a co-simulation FMU or the `Euler` solver. Note that `step_size` is only used for Euler (see [docstring](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L336)).

[2018-03-02 12:18] alexa-f commented on #28
In `simulateME()` within `simulation.py` I see that the solver returns a new time value, which is recorded some lines later. I am with you, this is how the solver works.

[code]

But what about the expected behaviour as implied by the description `interval for sampling the output` for `output_interval` (see [docstring](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L336)). Wo

[2018-03-02 12:42] t-sommer commented on #28
Why not just use a co-simulation FMU? It will skip any intermediate samples (e.g. at events) and interpolate the values at the (regular) sample points.

[2018-03-06 16:04] wulmer commented on #26
I will temporarily disable Linux multiprocessing support for FMUs in our application and hope that the issue will resolve by itself soon. Thanks for the support.

[2018-03-09 12:26] chrbertsch commented on #28
Wouldn't it be good to include the intial time point (t=0) in the output vector?
Dymola e.g. expects and uses a commucation step size, which is used additionally to event times to display. The velues are generated via interpolation from the solver timesteps. Advantage: significantly reduced output data size.
Difference to a CS FMU: at each communication timestep the variable step-solver integratio

[2018-03-09 12:53] t-sommer opened #29 "Values for time == start_time not in result for model-exchange"
For model exchange the values at `time` == `start_time` are not recorded.

[code]

Output:

[code]

[2018-03-09 12:55] t-sommer commented on #28
Yes. I've opened a new issue (#29)

[2018-03-09 14:23] t-sommer commented on #28
This is already the case in [FMPy (/w CVode)](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/sundials/__init__.py#L249) and Dymola co-simulation FMUs.

[code]

From the [cv_guide.pdf](https://computation.llnl.gov/sites/default/files/public/cv_guide.pdf), 4.5.5:

[...] The CV_NORMAL option causes the solver to take internal steps until it has reached
or just passed the user-specified tout p

[2018-03-09 14:25] #29 closed

[2018-03-10 20:46] chrbertsch commented on #28
I would not regard this as the expected behaviour for a CS FMU.
If the "communcation times" correspond to the "doSteps", I would not expect an interpolated value, but the correct value. So there should be really a macro-timestep corresponding to the doStep.
In a co-simulation context, one could get new inputs at the communication points, so that this point must be hit.
FMI for CS is not intended f

[2018-03-12 15:02] FabiJa opened #30 "separation of initialization, simulation and termination"
Hi Torsten,

in the current implementation, during every call of 'simulate_fmu()', the fmu is unzipped, intialized and after the run terminated and the temporary folder is deleted.
This is problematic for several (thousand) runs with the same fmu, e.g. Monte-Carlo. Would it be possible to re-structure and split the simulation in a init-, a run- and a terminate call, e.g. as a class:
[code]

[2018-03-12 16:33] t-sommer commented on #30
You could adapt the [worker function in the parameter_variation.py example](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/parameter_variation.py#L37). It does exactly what you're looking for. If you know the parameters beforehand it might also make sense to distribute the work over multiple cores for better performance.

[2018-03-12 17:02] FabiJa commented on #30
Yes, I have already done this. But I am wondering, if FMPy is sufficiently stable now, that my modifications will keep working over the next releases.

[2018-03-12 19:59] t-sommer commented on #30
The low-level API (fmpy.fmi*) maps more or less directly to the FMI so it's very unlikely to change except maybe for bug-fixes. The conservative version numbering (0.x.x) was chosen to comply with [semantic versioning](https://semver.org/) and does not mean that we plan big changes to the API.

[2018-03-12 21:02] FabiJa commented on #30
ok.

[2018-03-12 21:02] #30 closed

[2018-03-15 15:35] t-sommer commented on #28
I've just pushed my [first attempt](a85c6fae) to implement your suggestions. It required a lot of changes to the ME infrastructure so I'd like to invite you to test and review the changes before merging them.

[2018-03-20 11:20] chrbertsch commented on #30
As a future extension it would be still very useful for many applications (e.g. Parameter sweeps, Monte Carlo simulation, Uncertainty Quanticiation to follow the path depicted in the description above.

[2018-03-22 08:18] t-sommer commented on #30
65076d90 addresses this issue by allowing simulation of extracted FMUs and pre-loaded model descriptions. I get up to 80% reduction in runtime for batch simulations of small models. See [tests/test_extracted_fmu.py](https://github.com/CATIA-Systems/FMPy/blob/65076d9038a6926488b66428328ea35491ccb556/tests/test_extracted_fmu.py) for an example.

[2018-03-29 14:51] alexa-f commented on #28
I checked the new test `test_output_grid` and it gives the expected results. Thanks a lot for this work!
The only thing I noticed is a bug, if no input is specified:
[code]

In this case `t_input_event` is `None`.
[code]

I fixed it by
[code]

[2018-04-10 13:11] t-sommer commented on #28
I've merged the feature into develop with 0fd04161eb391fcffc8a6ce17cf1a05350debac6 that also fixes for the problem you've found. Thanks for testing!

[2018-04-10 13:11] #28 closed

[2018-04-12 19:09] chrbertsch opened #31 "Changing parameter values in the modeldescription.xml-file is dangerous"
In FMPy 0.2.3., writing new parameter values to the xml file has been introduced.
However, this is dangerous, as it is not specified, whether an importing tool should consider these values or the hard coded values, see this discussion: [https://trac.fmi-standard.org/ticket/387].
Strictly speaking, changing the modeldescription.xml could even invalidate the FMU (consistency of xml and binary could

[2018-04-13 09:30] t-sommer commented on #31
I'm aware of the concerns shared in this discussion but used with care this feature allows workflows previously impossible. Also note that you can now explicitly set the start values from the model description using the `--apply-default-start-values` switch on the command line or the check box `Apply default start values` in the GUI.

Is there anything you want changed about the current implementa

[2018-04-14 19:13] chrbertsch commented on #31
Wouldn't it be possible easily to create automatically from a single FMU and SSP file that contains only this FMU, has the some in/outputs and parameters?
Changing these parameters would be absolutely fine.

[2018-04-23 18:41] Flancis opened #32 "Citing FMPy"
Hi,
I'm using FMPy for my research. Is there a specific format to cite this tool? For example in BibTex format?

[2018-04-25 09:36] #32 closed

[2018-04-25 13:22] xogeny opened #33 "Number of Samples"
Looking at the source code for `command_line.py`, (specifically [this line](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/command_line.py#L38)), I don't see how this command line parameter has any effect.  It doesn't appear as though the value extracted from the command line is used anywhere.

Am I missing something?

[2018-04-26 09:47] t-sommer commented on #33
You're right: `--num-samples` wasn't used. As of 40261d2e436bb5827cc9aabe3cc0036e2399f207 you can control the number of samples through `--output-interval`. Thanks for reporting this problem!

[2018-04-26 09:47] #33 closed

[2018-04-26 11:18] xogeny commented on #33
The problem with output intervals is that unless you know the default start time and end time, you cannot calculate the output interval to achieve a specific number of outputs.

But you (presumably) have the necessary information to do that calculation.  So it seems too burdensome (to me) to expect the user to open up the FMU and parse the model description file to get the default start and end ti

[2018-04-26 13:51] t-sommer commented on #33
Getting the start and stop time for the default experiment is actually quite easy:

[code]

The reason for using output interval instead of number of samples is that it gives a "nicer" grid (see also #28). If you don't specify it FMPy will calculate an output interval so you get a "nice" grid with 500-1000 samples.

[2018-04-28 17:00] traversaro opened #34 "Typos in util.py documentation"
* https://github.com/CATIA-Systems/FMPy/blob/08a2e3c8fcac6cfaa66cca1a5b903f0bc8ce17a5/fmpy/util.py#L18  trajectoies --> trajectories
* https://github.com/CATIA-Systems/FMPy/blob/08a2e3c8fcac6cfaa66cca1a5b903f0bc8ce17a5/fmpy/util.py#L147  agains --> against
* https://github.com/CATIA-Systems/FMPy/blob/08a2e3c8fcac6cfaa66cca1a5b903f0bc8ce17a5/fmpy/util.py#L496 conatains --> contains

I have the chan

[2018-04-28 18:24] t-sommer commented on #34
Thanks for your help! We're working on a way to accept external contributions.

[2018-04-28 18:24] #34 closed

[2018-05-23 20:23] jbkoh opened #36 "An example of co-simulation?"
Hi,

I just started learning this FMI world and FMPy seems to be the best opensource option that I could use right now. Do you have any example code of cosimulation? I plan to do it for building physics and control operations from different frameworks and would like to use FMI and FMPy to execute them.

Thanks!

[2018-05-23 22:47] jbkoh opened #37 "API Documentation?"
Hi,

Though I am looking through the examples and source codes, it'd be great to read through actual API documentation, but I can't find one.

Thanks!

[2018-05-24 06:13] t-sommer commented on #37
The FMI specifications are available on http://fmi-standard.org/downloads/. There you find the documentation for the FMI functions, calling sequences, modelDescription.xml etc.

[2018-05-24 06:25] t-sommer commented on #36
A similar question has been asked in #15

[2018-05-24 15:22] jbkoh commented on #37
Thanks for the quick response. I guess my question is more about FMPy's APIs (though I still need to learn more about FMI). Otherwise, are dump() and simulate_fmu() the only function that I need from FMPy?

[2018-05-24 18:58] jbkoh commented on #36
I will try it out with the getset example. Thanks!

[2018-05-24 20:27] t-sommer commented on #37
If you want to get information about a model and simulate it that should be all you need

[2018-05-24 20:32] jbkoh commented on #37
As I mentioned in another thread, I would like to set/get values also and use any other functions for writing a co-simulation if there are. I guess that's it for now but it'd be great to have a documentation for reference during the development. Just my two cents.

Thanks!

[2018-05-25 06:16] AlCap23 opened #38 "Problems with multiple Inputs"
I'm currently trying to simulate a MIMO systems with varying inputs and wrapped FMPy inside a simple class.

However, if I assign more than one input value to a model exchange simulation via a structured numpy array, I get the following error message:

[code]

This happens as well if I try to simulate the fmu via ```fmpy.simulate_fmu(..., inputs = ...) ```.

Maybe I do not define the input array r

[2018-05-25 08:46] t-sommer commented on #37
You might want to have a look at the [custom_input.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py) example.

[2018-05-25 08:54] t-sommer commented on #38
Hi @AlCap23, can you please try again with the latest version from the `develop` branch?

[2018-05-25 09:22] AlCap23 commented on #38
Works! Thank you very much.

I did install the development version via pip inside conda, but I needed to remove it completely and reinstall it.

[2018-05-25 09:29] #38 closed

[2018-06-09 13:09] xogeny opened #39 "Documenting input signals"
The `simulate_fmu` function has a named `input` argument.  However, it isn't clear what type of data is required there.  The in-source documentation simple says `a structured numpy array that contains the input`, but that doesn't mean much to me.

I eventually figured out by tracing back through the `Input` class and the `np.genfromtxt` functions.  But it would be nice to have something more expli

[2018-06-17 08:16] #39 closed

[2018-06-17 10:07] #37 closed

[2018-06-17 10:08] #36 closed

[2018-06-20 11:31] EmmanuelChr opened #40 "install without internet connection?"
Is there a possibility to install the package without needing an interent connection? I have tried all the possible ways to install (apart from PIP) and all have failed due to connect timeouts. I suppose the problem in my case lies in the firewall of the company or in a proxy setting.
What is an aternative to this? Can one download the package and just install it?
Thanks in advance for any hint.

[2018-06-20 12:51] t-sommer commented on #40
You can install FMPy without an internet connection with PIP by downloading the [latest wheel](https://pypi.org/project/fmpy/#files). Copy it to the target machine and enter

[code]
or using Conda by downloading the respective [Conda package](https://anaconda.org/conda-forge/fmpy/files)

[code]

Depending on your use case you might need [additional packages](https://github.com/CATIA-Systems/FMPy/b

[2018-06-20 13:59] EmmanuelChr commented on #40
Hello,

thanks a lot for the quick respond. I've tried both. They seemde to work. Now I cannot check if everything is OK. What I do is to try to start the GUI (python -m fmpy.gui). This doesn't work, I get the following messages on the console:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main "__main__", mod_spec)
  File "C:\Progr

[2018-06-20 15:59] t-sommer commented on #40
The GUI depends on PyQtGraph available as a [Wheel on PyPI](https://pypi.org/project/pyqtgraph/) and as a [Conda package](https://anaconda.org/anaconda/pyqtgraph)

[2018-06-21 08:06] EmmanuelChr commented on #40
Now it works! Thanks a lot again!

[2018-06-21 08:07] #40 closed

[2018-07-04 10:04] Vaitek opened #41 "list.clear() method is not available under Python 2.x"
https://github.com/CATIA-Systems/FMPy/blob/259c5a85c88fc6178f1dca9e7e4e9ad870355c66/fmpy/gui/model.py#L197

Can't use fmpy.gui under Python 2.7.12 due to:
[code]

[2018-07-09 15:39] t-sommer commented on #41
@Vaitek, can you give b1be0cccd638d9facafbbd4df34b43099e16829c a spin and let us know if it works for you?

[2018-07-10 10:12] Vaitek commented on #41
Yes it works, now GUI can open models.

[2018-07-10 13:00] t-sommer commented on #41
Thanks

[2018-07-10 13:00] #41 closed

[2018-07-21 12:18] RasPiTool opened #42 "FMU 1.0 on Raspberry pi"
Hello,
Thanks for FMPy.
Is it possible to simulate a FMU 1.0 on Raspi. I have tried it and i get an error.

[2018-07-22 11:06] t-sommer commented on #42
It's possible to simulate an FMI 1.0 FMU on a Raspberry PI. However you'll have to make sure that the binary (in binaries/linux32) is compiled for the correct platform (in this case [ARM](https://en.wikipedia.org/wiki/Raspberry_Pi#Processor)).

For FMI 2.0 source FMUs you can conveniently [compile the binary directly on your Raspberry PI](https://github.com/CATIA-Systems/FMPy/wiki/RaspberryPi).

[2018-08-10 06:15] jpkauffman opened #43 "model_description.py typeDefinitions Fail to Support Enumerations"
There is a comment in the model_description.py file that notes:
#TODO: add enumeration items

While at first glance this appears to be a relatively insignificant feature, it would absolutely be a benefit to users if it could be added.

As an example, I am working on a tool to run FMUs within Python using FMPy, and then present the results to a user who may not be familiar with the code/architectur

[2018-08-10 09:29] t-sommer commented on #43
I've added the enumeration items to the model description and a [unit test](https://github.com/CATIA-Systems/FMPy/blob/feature/type_defintions/tests/test_type_definitions.py) that shows how to use it.
Let me know if it works for you.

[2018-08-10 09:39] #42 closed

[2018-08-10 09:41] t-sommer commented on #31
We'll look into this again when the SSP standard is released.

[2018-08-10 09:41] #31 closed

[2018-08-24 13:36] wqp89324 opened #44 "update PID parameter value in the Simulate SPPs example"
Is there any way to update the parameter value (such as k, Ti, Td) within the PID block, in the Simulate SPPs example?

[2018-08-24 14:05] #44 closed

[2018-08-24 14:47] wqp89324 opened #45 "specify fmu parameter values"
How can I specify the values of (static) parameters in an FMU? By "parameter" I mean, causality == parameter.

Thanks!

[2018-08-24 16:41] #45 closed

[2018-09-04 09:12] #43 closed

[2018-10-02 07:51] chrbertsch opened #46 "Changing tolerance of a CS FMU?"
When simulating a 2.0 CS FMU, the `relative_tolerance` argutment of `simulate_fmu` is not used (this parameter is only currently intended for the CVODE Solver of ME FMUs):
in https://github.com/CATIA-Systems/FMPy/blob/d266f17694a62e624218814025aa2223b5e119d8/fmpy/simulation.py#L510, no tolerance is passed to a CS FMU.

Do I understand https://github.com/CATIA-Systems/FMPy/blob/d266f17694a62e624218

[2018-10-02 11:51] t-sommer commented on #46
The `--relative-tolerance` parameter will now be forwarded to FMI 2.0 co-simulation FMUs as well. Thanks for your help @chrbertsch!

[2018-10-02 11:51] #46 closed

[2018-10-05 08:44] neotake opened #47 "FMPy and Dymola parallelization"
I'm generating a Co-Simulation FMU using Dymola. The FMU is consumed by FMPy. There are external thermodynamic calls in the model.

When the Dymola flag Advanced.ParallelizeCode is set to false, the FMU can be run using FMPy and Dymola. When the Dymola flag Advanced.ParallelizeCode is set to true, the FMU can be run using Dymola but not using FMPy.

What can be causing this issue?

Thanks!

[2018-10-05 08:47] t-sommer commented on #47
You've already asked [this question on Stack Overflow](https://stackoverflow.com/questions/52476749/fmpy-and-dymola-parallelization). Can you try to answer the follow up questions?

[2018-10-05 11:03] Amuntaseer opened #48 "Global sensitivity analysis in Python after exporting from Dymola"
Is it possible to perform Global Sensitivity Analysis in Python after exporting the model from Dymola to Python using FMPy? I want to see the effect of different Parameters and the correlation between them.

[2018-10-05 11:37] t-sommer commented on #48
You could start with the [parameter_variation.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/parameter_variation.py) example and adapt it to your use case.

[2018-10-10 08:28] flochocinco opened #49 "cannot run 32bit fmi on my windows 64bits"
Everything in the title. It seems important for me to be able to run 32 bits fmu on windows 64bits (most common OS)

[2018-10-10 10:03] t-sommer commented on #49
You need a 32-bit Python to run 32-bit FMUs. On Windows you can install a 32-bit [Anaconda](https://www.anaconda.com/download/#windows) or create a 32-bit Conda environment using `set CONDA_FORCE_32BIT=1` as described in [hacking FMPy](https://fmpy.readthedocs.io/en/latest/hacking/#setup-your-python-environment).

[2018-10-10 10:03] #49 closed

[2018-10-10 10:05] #48 closed

[2018-10-10 10:05] #47 closed

[2018-10-12 15:03] Flancis opened #50 "What solvers are supported?"
Hi,

Currently I export an FMU for co-simulation with the solver being Cvode, but now I would like to try a different solver. So I'm wondering what solvers are supported for co-simulation and model exchange, respectively? How can one configure the parameters for those solvers, e.g. changing tolerance?

Best regards,
Francis

[2018-10-12 15:14] hyumo commented on #50
In order to switch to a different solver,
- For CS fmu, you need to make sure your FMU generation tool export the expected solver you want. I assume any solver would be supported in fmpy as long as the generation tool export it correctly.
- For ME fmu, fmpy supports Cvode and Euler.

Further details could be found here: https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L376

Dis

[2018-10-14 09:45] Flancis commented on #50
Hi Hang,

Thanks for the help. :) Judging from the document you provided and also the FMPy GUI, I think you are right.

The problem I'm facing now is that the simulation in MATLAB/Simulink was fine, but with the exported FMU (Model exchange, and Co-simulation using Cvode) there were some numerical problems. So I suspect that it is caused by the Cvode solver. However, within the tool I used to expo

[2018-10-14 11:02] chrbertsch commented on #50
Hello Francis,
please provide more information.
In which tool is the model authored? (Simulink?) With which toolbox is it exported?
I do not know a tool with which you can export a CS-FMU from ML/SL with variable Step solver like CVODE.

Have you checked the FMU in other importing tools? Have you tried to vary the macro stepsize when simulating the CS FMU?
Have you changed the tolerance of the CVO

[2018-10-14 14:07] t-sommer commented on #50
As @hyumo wrote above FMPy currently supports Euler (for fixed step) and CVode (for variable step) simulation of model exchange FMUs.

The closest to Simulink's [ode45](https://de.mathworks.com/help/matlab/ref/ode45.html) is probably [ARKode](https://computation.llnl.gov/projects/sundials/arkode).

@Flancis, can you please provide a model that cannot be simulated using the existing solvers?

[2018-10-14 14:44] Flancis commented on #50
Hey Christian @chrbertsch ,

Thanks for your answers and questions.

The model was built within Dymola, and was exported from there as an FMU with the option "Model exchange, and Co-simulation using Cvode". With this option, I think the FMU model can be used for both Mode exchange and Co-simulation. There are a few other options available as well.

I have not tried other tools yet, but I will try

[2018-10-14 15:02] Flancis commented on #50
Hey Torsten, @t-sommer

Is it possible to integrate ARKode with FMPy then? Or is there any possible workflow for this? While dealing with Cvode, I am also willing to try other solvers.

Unfortunately, I can not provide this model to you because the model was developed in collaboration with a company. One thing for sure is that changing solver parameters, e.g. relative_tolerance, can affect the res

[2018-10-14 18:51] chrbertsch commented on #50
@Flancis  What do you mean with "The problem I am facing now is that the simulation in MATLAB/Simulink was fine, but with the exported FMU (Model exchange, and Co-simulation using Cvode) there were some numerical problems."? Was the model orignally implemented in ML/SL and then re-implemented in Dymola? Or have imprted the ME FMU exported from Dymola in Simulink and there the simulation was ok wit

[2018-10-14 19:07] Flancis commented on #50
@chrbertsch It is the latter case. The model was originally designed in Dymola, and it worked fine as an ME FMU in Matlab/Simulink with the ode45 solver. However, there were numerical problems when working with the Cvode solver in Python.

[2018-10-15 00:37] t-sommer commented on #50
@Flancis, in order to resolve this issue we need a reproducible problem. Please provide a sample model and / or demo code that does not run or close this issue and move the discussion to Stack Overflow.

[2018-10-18 12:18] fa1247 opened #51 "Can not simulate fmu file generated by OpenModelica"
Hi,

I'm trying to control the simulation progress with Python, so I generated a fmu file of StableBouncingBall and import with FMPy. When I run simulate_fmu, I got an error "The current platform (win32) is not supported by the FMU". Then I read some lines of source file and added "use_source_code=True", hoping that FMPy will simulate with source-code. Then I got another error "No source files spe

[2018-10-18 12:38] hyumo commented on #51
In order to `run` the FMU in a certain platform, it must be exported with the corresponding platform binary or with source code (optional). Details could be found here at in the FMI standard: https://fmi-standard.org/docs/2.0.1-develop/#_fmu_distribution

If you are using windows, I guess it is just because the FMU is only exported with `64 bit` binary without source code, however, your python env

[2018-10-18 12:46] chrbertsch commented on #51
(generally for such general questions on FMI, Stack overflow might be a better place to ask)
Please provide more information:
- Which versions of tools are you using (32bit/64bit)?
- Could you please attach the FMU?
- Do you use a ME/CS FMU? FMI 1.0 or 2.0?

The error message looks like you are trying to import an FMU with 64bit binaries only into a 32bit Python/fmpy.

In order to support import o

[2018-10-18 12:46] fa1247 commented on #51
Thank you for your reply. The FMU is exported with source code. In the dump(fmu), it said the  platform is c-code and I can see all the .c and .h file within the fmu file. If the FMU is exported with binary I think there should be a dll file but there isn't.
![image](https://user-images.githubusercontent.com/29948202/47155075-93f75000-d316-11e8-8de2-1f300e4bc55d.png)
![image](https://user-images.g

[2018-10-19 08:17] chrbertsch opened #52 "Set communication step size for CS FMU in GUI"
It would be nice to be able to set the (commication) step size for CS FMUs in the GUI.
Currently the field "step size" is greyed out, and one can only enter "Max. samples" which seems to be the number of equidistant communication timesteps.

[2018-10-21 12:16] t-sommer commented on #51
The `dump()` function determines the supported platforms based on the contents of the FMU. If the source files are not specified in the modelDescription.xml it's not a valid C-code FMU.

See [FMI 2.0 Spec, 2.3 FMU Distribution](https://fmi-standard.org/docs/2.0.1-develop/#_fmu_distribution):

The easiest way to simulate the FMU is to install a 64-bit Python, e.g. [Anaconda](https://www.anaconda.co

[2018-10-21 12:18] t-sommer commented on #52
Can you describe a use case where this would be necessary?

[2018-10-21 16:31] fa1247 commented on #51
Thank you for your replies.
I followed your instructions but still failed.

My test environment is as follows:
Lenevo laptop;
Windows 10 1809 64-bit;
Python 3.6.5 32-bit (Anaconda) and Python 3.6.5 64-bit(Miniconda) installed in different folders;
FMU file generated from the same model by openmodelica 32-bit and 64-bit.

As the [ticket](https://trac.openmodelica.org/OpenModelica/ticket/2473) says.

[2018-10-21 16:41] chrbertsch commented on #51
The FMUs you uploaded to not contain a "binaries" folder, so the do not contain any binaries for win32 or win64 nor any other binaries. This is a problem of creating FMUs from OpenModelica, not of importing and simulating them with fmpy.

[2018-10-21 16:47] t-sommer commented on #51
You claim that

Did you actually test it with the files you provided?

[2018-10-27 02:41] fa1247 commented on #51
Sorry for the wrong report bug.

I installed too many versions of nigntly build OpenModelica during the test. In a previous version, the FMU export feature works fine. But after a point in time, this feature broke and the files generated are broken too. It's a bug in OM. I reinstall the stable 64-bit version OM and everything works.

Thank you again for your precious time.

PS: the URL in download

[2018-10-27 07:49] #51 closed

[2018-10-27 08:00] t-sommer opened #53 "download_test_file() fails"
The following code fails because all requests to https://trac.fmi-standard.org/ are now redirected to https://github.com/modelica/fmi-standard/issues/.

[code]

This is also breaking [some tests](https://travis-ci.org/CATIA-Systems/FMPy/jobs/445539485#L1142).

[2018-10-27 14:17] chrbertsch commented on #53
You can still acces the the test FMUs via https://svn.modelica.org/fmi/branches/public/Test_FMUs/

[2018-11-11 20:35] RasPiTool opened #54 "Simulation of Model Exchange FMUs on Raspberry Pi"
Hello,

I simulated ModelCosimulation on Raspberry Pi and it work's very well. Now I tried to simulate a ModelExchange on Raspberry and it doesn't work.

I used following file /FMI_2.0/ModelExchange/c-code/Dymola/2017/CoupledClutches.fmu

Compilation worked with

`fmpy compile CoupledClutches.fmu
`
By simulation I get some error

[code]

This is my directory:

[code]

I googled to sundials_cvode.s

[2018-11-11 23:06] t-sommer commented on #54
If you want to simulate model exchange FMUs on a Raspberry Pi you have two options:

- use the `Euler` solver (which is implemented in Python)
- compile the necessary shared libraries of the [SUDIALS CVode](https://computation.llnl.gov/projects/sundials) solver for your platform and put them in `fmpy/sundials/linux32` or `linux64` (depending on the bitness of the operating system)

[2018-11-12 23:41] t-sommer opened #57 "FMU state serialization test crashes on Linux"
The [FMU state serialization test](https://github.com/CATIA-Systems/FMPy/blob/develop/tests/test_serialize_fmu_state.py) with the MapleSim 2016.2 Rectifier.fmu crashes with a memory error on Linux for both Python 2.7 and 3.6 (see e.g. https://circleci.com/gh/CATIA-Systems/FMPy/4).

@Maplesoft-fmigroup, do you have an idea what could cause the problem?

[2018-11-12 23:43] t-sommer commented on #53
Fixed with ef340d7ff7bad4bdc1689d293edffeb2d87d9bc9

[2018-11-12 23:43] #53 closed

[2018-11-13 16:07] Maplesoft-fmigroup commented on #57
Can you please provide more information about your test?  In the linked code there's a sequence of calls:
# get the FMU state
state = fmu.getFMUstate()
# serialize the FMU state
serialized_state = fmu.serializeFMUstate(state)
# de-serialize the FMU state
fmu.deSerializeFMUstate(serialized_state, state)

but  fmi2SerializeFMUstate() requires an array ‘serializedState’ and its size as inputs.
The la

[2018-11-13 16:14] t-sommer commented on #57
The memory is allocated in [serializeFMUState()](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/fmi2.py#L346)

[code]

Maybe it's a problem with Python's garbage collector that's freeing the memory too early. You can run the test with a different version of the FMU by changing [this line](https://github.com/CATIA-Systems/FMPy/blob/master/tests/test_serialize_fmu_state.py#L17):

[code]

[2018-11-13 16:15] t-sommer commented on #57
I will try to keep a reference to `serializedState` to save it from the garbage collector.

[2018-11-14 09:58] t-sommer commented on #54
FMPy expects an older version of the SUNDIALS library. The function `CVDense` has been removed in the newer releases.

[2018-11-14 11:07] RasPiTool commented on #54
Thank you very much!
It works great!
I installed sundials version 2.7.0 then `CVDence `funciton is removed after this version.
`https://computation.llnl.gov/projects/sundials/download/sundials-2.7.0.tar.gz`

[2018-11-14 11:08] #54 closed

[2018-11-15 09:02] RasPiTool opened #58 "Input interpolation breaks when last sample is an event"
hello,

I have to connect several FMUs. It could be connection between CO-Simulations or a mixed connection between CO and Exchange-Simulations. There is some examples to CO-Simulation that I understand. I can get or set variables with `fmu.setReal([ValueReference], [Value])` or `fmu.getReal([ValueReference])`. Now I try to understand how ModelExchange simulation works and how can I get or set var

[2018-11-15 09:10] t-sommer commented on #58
Seems to be a bug in the input interpolation. Can you share the files?

[2018-11-15 09:16] RasPiTool commented on #58
Here are the files
[CoupledClutches.zip](https://github.com/CATIA-Systems/FMPy/files/2584480/CoupledClutches.zip)
[CoupledClutches_in.txt](https://github.com/CATIA-Systems/FMPy/files/2584483/CoupledClutches_in.txt)
I changed the endings from .fmu, .csv to .zip, .txt because the upload doesn't work.

[2018-11-15 19:32] t-sommer commented on #58
The problem is the event at the last value (t=1.5). As a work around you can delete the last line in the CSV.

[2018-11-15 19:40] t-sommer commented on #58
The problem still needs to be fixed. Input with an event at the end is unusual but valid.

[2018-11-15 22:42] t-sommer commented on #58
With 4e0137381bc111e6fa0399fe152c0f629ed43dc2 the input is now extrapolated as you suggested. Thanks for your help!

[2018-11-15 22:42] #58 closed

[2018-11-16 10:34] t-sommer commented on #57
@Maplesoft-fmigroup cdf83f70d1357805f65e2c8de9684aff4b83412c fixes the problem for MapleSim 2016.2. For 2018 however it still doesn't work. Did you change something for the 2018 release?

[2018-11-16 12:41] Maplesoft-fmigroup commented on #57
@t-sommer  We only added some error checks for the inputs.  Is it possible to turn on logging to see exactly what the problem is?

[2018-11-16 17:02] Maplesoft-fmigroup commented on #57
@t-sommer  Can you make sure that 'state' is NULL when you first call fmi2GetFMUstate?

[2018-11-16 19:21] t-sommer commented on #57
`state` is initialized to `None` (= `NULL` in C)

[2018-11-19 12:11] chrbertsch opened #59 "Axes not displayed correctly"
Simulation the attached FMU with the GUI (using fmpy 2.7.0, on Windoes10 64bit, using Anaconda Python 3.7), the axes are not displayed correctly, see attached Screenshot. Especially, the the bouncing byll should reflect at h=0.
[fmu_bBRef.fmu.zip](https://github.com/CATIA-Systems/FMPy/files/2595198/fmu_bBRef.fmu.zip)
![image](https://user-images.githubusercontent.com/16363372/48706436-8f1b0a00-ebf

[2018-11-19 12:54] t-sommer commented on #59
The event update of the `bouncingBall` model has been fixed in https://github.com/qtronic/fmusdk/commit/8ded85a929a78e78e3dc50d0a7477138ba065550. Have you applied this change to the above FMU?

[2018-11-19 12:59] chrbertsch commented on #59
No, but the display problem is independent of the FMU, see e.g. the attached screenshot which also should start at zero.
![image](https://user-images.githubusercontent.com/16363372/48708621-5468a000-ec03-11e8-8ccf-74fd813defdb.png)

[2018-11-19 13:01] t-sommer commented on #59
Looks like this is due to `NaN` or `Inf` in the result. Can you reproduce this result with the latest version of the original bouncingBall.fmu from the FMU SDK?

[2018-11-19 13:10] chrbertsch commented on #59
I get wrong axes for any FMU (FMU-SDK, Dymola, Simulink-via-FMI-Kit, ....).  I also saved the plotted results as CSV and there are no NaNs or Infs,

[2018-11-19 13:33] chrbertsch commented on #59
Nothing special:

I installed fmypy via conda (due to a technical limitation I have to download the conda package for fmpy 0.2.7 manually )
conda create -n fmpytest python=3.7 anaconda; activate fmpytest);
install fmpy 0.2.6 via conda (conda install fmpy) to install the right dependencies;
then uninstall fmpy (conda remove fmpy),
download fmpy 0.2.7  from https://anaconda.org/conda-forge/fmpy/file

[2018-11-19 13:42] t-sommer commented on #59
I've tested the installation with `pip` and `conda`. They both work fine for me. Maybe you can try it again on a different machine:

[code]

[2018-11-19 19:18] chrbertsch commented on #59
The problem is away on my computer (Lenovo T480) if I only use the built-in monitor.
I reproducibly get the problem described above when connect an additional monitor with a different (extended Display)  and display the fmpy-gui there. I can move the fmpy-gui from one monitor to the other and the problems appears and disappers ...

[2018-11-19 20:14] chrbertsch commented on #59
I cannot reproduce the problem on another (private) laptop (Acer Aspire 7, Win-10 64bit) ....

[2018-11-20 20:00] t-sommer commented on #59
Can you try to run the PyQtGraph examples?

[code]

I assume it's a problem with the upstream libraries Qt / PyQtGraph.

[2018-11-20 20:08] t-sommer commented on #54
@RasPiTool Just out of curiosity: what's you're use-case of model exchange on a Raspberry PI?

[2018-11-20 20:50] chrbertsch commented on #59
Yes I get similar problems with axes e.g. with the example "Crosshair / Mouse interaction" on an extended display.
![image](https://user-images.githubusercontent.com/16363372/48801777-87975600-ed0d-11e8-98fa-08fb5931958e.png)

On the command line I get warnings:
[code]
Are they related to the problem?

I think the problem is adressed in  https://stackoverflow.com/questions/45108069/pyqtgraph-axes-

[2018-11-20 21:03] RasPiTool commented on #54
I am currently writing my master thesis. And my main topic is simulation of FMUs on Raspberry server. So I have to create a server via OPC UA on one Rasperry and Raspberry Pi workers (clients). The server get FMUs and the server sends the FMUs to other Clients (Raspberry Pi workers) to solve it.

[2018-11-21 16:15] Maplesoft-fmigroup commented on #57
@t-sommer  We have reproduced your test code in our FMU Import and ran it with our 2016.2 and 2018 Rectifier FMU on Linux64.  We ran the serialization code at every simulation step to stress test the code.  Both of the FMUs ran fine, there were no issues at any simulation step.  Here is the C-code we used for testing:
[code]

[2018-11-22 08:50] RasPiTool opened #60 "compiling on win64 fails"
Hello,

I have a problem. :D
I tried to compile a FMU and I get some error:
[code]
The system can not find the path.
In the method
`compile_dll(model_description, sources_dir, compiler=None)
`
I add
`print("Path: ", dll_path)
`
before this if statement
[code]
and get this path
`C:\Users\mesau\AppData\Local\Temp\tmphnlcx13t\sources\CoupledClutches.dll
`
and there isn't a CoupledClutches.dll file.

[2018-11-22 09:38] t-sommer commented on #60
Does the FMU contain source code? If so, can you run the command

[code]
to get more detailed output?

[2018-11-22 09:44] RasPiTool commented on #60
The FMU contains sources code. Here is the FMU
[CoupledClutches.zip](https://github.com/CATIA-Systems/FMPy/files/2607415/CoupledClutches.zip)
This is output for the command:
[code]
The system can not find the path.

[2018-11-22 10:16] t-sommer commented on #60
Do you have Visual Studio 14 (2015) installed on your machine?

[2018-11-22 10:18] t-sommer commented on #57
Can you provide a source code FMU of the 2018 release to debug the serialization function?

[2018-11-22 11:01] RasPiTool commented on #60
No, I have Visual Studio (2017)

[2018-11-22 13:40] t-sommer commented on #60
Visual Studio 2017 is currently not supported

[2018-11-22 13:43] chrbertsch commented on #60
Is there a list of supported compilers somewhere in the documentation?

[2018-11-22 13:45] Maplesoft-fmigroup commented on #57
@t-sommer  Our 2018 source code FMUs are available on GitHub:
https://github.com/modelica/fmi-cross-check/tree/master/fmus/2.0/cs/c-code/MapleSim/2018

[2018-11-22 13:47] t-sommer commented on #60
All Visual Studio versions should work as long as they can compile the FMU's sources. The problems seems to be that Microsoft has changed the way the environment variables are set in 2017.

[2018-11-22 13:48] t-sommer opened #61 "Add support for FMU compilation with Visual Studio 2017"
see also #60

[2018-11-23 14:07] triccyx opened #62 "OpenModelica FMU crashes on Linux"
When I try to execute an FMU from OpenModelica a crash occurs.
OpenModelica version: OMEdit v1.13.0-dev.214+gb23d97a
OS: Ubuntu 16.04
Mmpy:0.2.7

I include the simplest FMU that reproduce the problem, just remove zip extension.
[problem.fmu.zip](https://github.com/CATIA-Systems/FMPy/files/2611026/problem.fmu.zip)

error log:
 python3 -m fmpy.gui
JSON object expected ',' or '}', got: "lineEnd":4,"c

[2018-11-30 19:23] hyumo commented on #57
Hi @t-sommer :

I encountered a similar issue with Dymola 2019 exported FMU on windows tho. Could you take a look at this when you got some time?

I am using the `test_serialize_fmu_state.py` file, with `filename` modified to point to my own FMU. Here's the error message generated:

[code]

Here's the FMU I am using, which is exported from Dymola 2019 with command:

[code]

The fmu is attached (pl

[2018-12-02 23:15] t-sommer commented on #57
@hyumo, I can reproduce the problem. The FMU crashes in fmiCommonFunctions_int.c (line 716):

[code]

where allocDone == 0.

@KarlWernersson, can you take a look at this?

[2018-12-03 13:30] hyumo commented on #57
Thanks @KarlWernersson , I will contact customer support. And thanks @t-sommer !

[2018-12-03 17:03] t-sommer commented on #57
Here's what I get for the Dymola FMU before the crash:

[code]

@KarlWernersson, is it possible that the problem is in the FMU? I would also suggest to change the error handling to

[code]

in order to allow the importer to shut down properly.

[2018-12-03 18:15] t-sommer commented on #57
@Maplesoft-fmigroup, the problem seems to be in line 1822 of Rectifier.c (fmi-cross-check\fmus\2.0\cs\c-code\MapleSim\2018\Rectifier, compiled from source on Windows 64-bit with Visual Studio 2015 & FMPy generated CMake project):

[code]

where `comp->s == 0x0`.

[2018-12-03 19:51] Maplesoft-fmigroup commented on #57
@t-sommer  That looks like an oversight on our part, we'll fix.  Thanks for investigating!

[2018-12-04 15:21] #57 closed

[2018-12-04 15:24] t-sommer commented on #59
@chrbertsch, I have no setup available where I can verify the proposed fixed. Can you try it on your machine and let us know if it works?

[2018-12-04 15:52] t-sommer commented on #62
Can you execute the FMU on the command line with FMI and debug logging enabled?

[code]

[2018-12-08 22:40] t-sommer commented on #61
Resolved with 9b35f0f26f9696d1462cbc1f69942874a3e3b5ba

[2018-12-08 22:40] #61 closed

[2018-12-08 22:40] t-sommer commented on #60
Resolved with 9b35f0f26f9696d1462cbc1f69942874a3e3b5ba

[2018-12-08 22:40] #60 closed

[2018-12-12 06:39] GabaSys opened #63 "Windows Error while simulating a FMU"
I have created a Co-Simulation FMU from MATLAB 2018b. I am using Windows 64bit, Python 2.7.15 and FMPY latest version.

I am trying to run the created FMU with FMPY. While running "dump" and "simulate_fmu" commands i have experienced the below errors respectively:

dump(fmu)
             File "<stdin>", line 1, in <module>
             File "C:\Python27\lib\site-packages\fmpy\__init__.py", line 19

[2018-12-12 08:02] GabaSys commented on #63
I have attached the FMU which i have used in FMPY. Kindly go through it.

[bouncingBallFMU.zip](https://github.com/CATIA-Systems/FMPy/files/2670935/bouncingBallFMU.zip)

[2018-12-12 08:09] chrbertsch commented on #63
With which tooling has this FMU been generated form ML/SL 2018b?

[2018-12-12 08:52] t-sommer commented on #63
@GabaSys, have you tried running the FMU in another tool, e.g. the [FMU Compliance Checker](https://github.com/modelica-tools/FMUComplianceChecker/releases)?

[2018-12-12 08:56] #62 closed

[2018-12-12 12:30] GabaSys commented on #63
The FMU is created with "Tool Coupling for Co-Simulation Toolbox" from Simulink 2018b Project.

[2018-12-12 12:31] GabaSys commented on #63
No, I am trying it now.

[2018-12-12 12:34] chrbertsch commented on #63
Have you followed the steps desfribed in https://de.mathworks.com/help/simulink/ug/_mw_54e936ec-2fa7-4418-be70-d99c8f91d2bd.html  to start the server?

[2018-12-12 12:44] GabaSys commented on #63
Yes, i done it. I am trying to run the FMU with PyFMI software it's sucessfully running it. But i would like the same in FMPY.

[2018-12-12 13:09] GabaSys commented on #63
I have tried it with PYFMI and it's successfully running.

By using the "FMU Compliance Checker"  I got the below errors

1. [FMU][logStatusError][FMU status:Error] fmi2Instantiate: Error using fmuhelper

2. java.io.FileNotFoundException:

FMU check summary:
FMU reported:
        1 warning(s) and error(s)
Checker reported:
        0 Warning(s)
        1 Error(s)
        1 Fatal error(s) occurred d

[2018-12-12 15:48] t-sommer commented on #63
This seems to be a problem with the FMU. You should file a bug report with the MathWorks.

[2018-12-12 16:36] triccyx commented on #62
With the new OpenModelica (& tools) build it does not crash anymore.

[2018-12-13 05:41] GabaSys commented on #63
No, now the same FMU is working with "FMU compliance checker" and "PyFMI". Only FMPY gives me the trouble while simulating and dumping. Run the FMU which i have attached above and check it.

[2018-12-14 16:19] t-sommer commented on #63
The comments in the ScalarVariable tag caused a hiccup in the XML parser. It's resolved with 6bb111ce58f66495ce96f61a4a4cd6bcd77370bb.

[2018-12-14 16:19] #63 closed

[2018-12-24 11:35] t-sommer opened #64 "Drop support for Windows 32-bit"
Conda Forge has [dropped support for Windows 32-bit](https://github.com/conda-forge/staged-recipes/issues/5640), so v0.2.7 is the last release with Windows 32-bit support on [Conda Forge](https://anaconda.org/conda-forge/fmpy). Maybe we should drop Windows 32-bit support altogether.

Opinions welcome!

[2019-01-10 20:03] chrbertsch commented on #59
I would test it. Can I do this with a version of fmpy installed with Anaconda (how to I find the file?) or do I have to install it directly from github? Thanks!

[2019-01-10 20:06] t-sommer commented on #59
Any recent version of FMPy will do. How you install it does not matter. You can run

[code]

to find out where you installed it.

[2019-01-10 20:55] chrbertsch commented on #59
OK, got it.
What is meant with " Qt GUI event loop" in

?

In which file/line number should I place the app.setAttribute call?

[2019-01-10 21:02] t-sommer commented on #59
This line starts the event loop:

https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/gui/__main__.py#L19

[2019-01-10 21:10] chrbertsch commented on #59
Naively putting

in line 20 does not solve the problem ...

[2019-01-10 21:12] t-sommer commented on #59
You have to set the flag _before_ `app.exec_()` is called

[2019-01-11 09:42] t-sommer commented on #59
I can do it like this

[code]

but it breaks the plot similar to what you experience...

[2019-01-11 10:18] chrbertsch commented on #59
For me this fixes the problem on the extended display
![image](https://user-images.githubusercontent.com/16363372/51027914-62e39000-1592-11e9-819e-a00a3abedb71.png)
but now I have the problem on the primary display
![image](https://user-images.githubusercontent.com/16363372/51027961-7989e700-1592-11e9-9e88-b79746d63da6.png)
where everything was fine before. Funny ...

[2019-02-09 12:11] #59 closed

[2019-02-09 16:36] chrbertsch commented on #59
Is this this closed as "won't fix" or is there a solution? Thanks!

[2019-02-10 11:31] t-sommer commented on #59
It's an upstream problem. The only thing that seems to work is to use the same scaling settings for both screens as suggested in [this answer on StackOvervflow](https://stackoverflow.com/questions/45108069/pyqtgraph-axes-not-displaying-correctly).

[2019-02-22 11:26] magraeber opened #65 "Support for additional ODE solvers"
I would like to use **implicit** Euler method to simulate Model Exchange FMUs. Are there any plans to support additional ODE solvers besides CVODE and explicit Euler?

Would you accept a pull request with implicit Euler included? If yes, I would try to implement it.

[2019-02-22 14:26] t-sommer commented on #65
I'd rather try to interface the [ODE solvers that come with SciPy](https://docs.scipy.org/doc/scipy/reference/integrate.html).

Can you describe your use case?

[2019-02-22 14:52] magraeber commented on #65
I have two use cases in mind:
1. educational: demonstrate effects of stiffness with explicit vs. implicit Euler
2. find steady state working points by forward simulation with large step sizes.

The second uses case is described in the German Wikipedia article:
[https://de.wikipedia.org/wiki/Implizites_Euler-Verfahren]()

Using Scipy ODE solver sounds good. As far as I understand they don't have a

[2019-02-23 15:26] t-sommer commented on #65
If all you want is to pass your own solver implementation to `simulate_fmu()` we could extent it to accept an arbitrary class that implements the same methods as the [ForwardEuler](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L331) and [CVodeSolver](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/sundials/__init__.py#L143) classes:

[code]

[2019-02-24 14:01] lmblanes commented on #64
Hi @t-sommer

What is the latest stable python 32 bits compatible with FMpy?
[code]
thanks!

[2019-02-24 15:47] t-sommer commented on #64
All versions of FMPy still work on Windows 32-bit. Have you tried to install [pywin32 from PyPI](https://pypi.org/project/pywin32/) with `pip install pywin32`?

Anaconda also provides a 32-bit Windows installer in their [archive](https://repo.continuum.io/archive/) that contains all dependencies except PyQtGraph.

[2019-02-24 16:36] lmblanes commented on #64
Thanks @t-sommer
It's working ok. What really happens I think it is related to the fmu I am trying to simulate. As I see in the file infor:

  FMI Type          Model Exchange
  Model Name        MyFMU
  Description       None
  Platforms         win32
  Continuous States 8
  Event Indicators  35
  Variables         3522
  Generation Tool   JModelica.org
  Generation Date
  2018-08-03T11:02:09

[2019-02-24 19:03] t-sommer commented on #64
We've had [multiple reports of broken OpenModelica FMUs in the past](https://github.com/CATIA-Systems/FMPy/issues?utf8=%E2%9C%93&q=is%3Aissue+openmodelica). Please try to simulate the model in another tool and open a new issue if the problem is reproducible.

[2019-02-25 18:24] t-sommer commented on #65
If you want to try it out you can replace lines 629-651 in simulation.py with this

[code]

and then pass your own solver

[code]

[2019-02-27 08:22] magraeber commented on #65
Thanks, this would perfectly work for me. I will try it and report the results.

[2019-03-07 08:00] masoud-najafi opened #66 "spaces in dependencies"
This XML crashes FMPY.

<?xml version="1.0" encoding="UTF-8"?>
	<fmiModelDescription fmiVersion="2.0" modelName="sb_amplif" description=" " generationTool="Activate" version="2019.1" guid="SCP_FMU_generator(2) ID= 3248.39-219274900-542745130" variableNamingConvention="flat" numberOfEventIndicators="0">
	  <ModelExchange modelIdentifier="sb_amplif" canBeInstantiatedOnlyOncePerProcess="false" canGet

[2019-03-08 19:02] t-sommer commented on #66
Fixed with b414a171603e0b223fab2f3395c6002656edcc95

[2019-03-08 19:02] #66 closed

[2019-03-08 19:03] t-sommer commented on #66
Thank you, @masoud-najafi !

[2019-03-12 10:47] t-sommer opened #67 "Check for backslashes in FMU archive"
see https://github.com/modelica/fmi-cross-check/issues/43 and https://github.com/modelica/fmi-standard/issues/547

[2019-03-12 11:47] chrbertsch opened #68 "Check for start values"
It would be good to include in `validate_test_fmu`  a check  if start values are set accoding to  “If  initial= exact or approx, or causality = ′′input′′ a start value must be provided”. on p. 47 of the FMI 2.0 standard.

[2019-03-12 14:52] t-sommer commented on #68
@chrbertsch, can you provide an FMU that violates this rule?

[2019-03-12 16:09] t-sommer commented on #68
@chrbertsch, with [the additional check](https://github.com/CATIA-Systems/FMPy/commit/7e7d664f27745b424eee5e00ab8262c416bcef0f) I couldn't find any FMUs that violate the above rule.

[2019-03-13 20:47] chrbertsch commented on #68
Actually it was just a suspicion, but I think I was wrong (I cannot share the FMU);
Here is  a simple test FMU :-) (just remove the ending zip)
[Feedthrough.fmu.zip](https://github.com/CATIA-Systems/FMPy/files/2963596/Feedthrough.fmu.zip)

[2019-03-15 18:50] lvanfretti opened #69 "Running FMUs in GUI in Anaconda using FMus from Dymola that require license"
Hi @t-sommer

Here's an issue I'm having.

I'm running the GUI from the Anaconda Prompt.
When loading the FMU attached, I am not able to run again the simulation. At first I thought that this could be fixed by adding the environment variable within the Conda prompt, however, this doesn't seem to fix the problem.

![Screenshot 2019-03-15 14 48 49](https://user-images.githubusercontent.com/7248948/5

[2019-03-16 16:21] t-sommer commented on #69
The attached FMU contains no implementation. "Platforms" should contain at leas one entry (see also your screenshot).

[2019-03-17 12:36] lvanfretti commented on #69
I made the mistake of not select binaries option in the dialog.

Now that platforms are included, but still the same problem.
Any ideas?
![Screenshot 2019-03-17 08 33 13](https://user-images.githubusercontent.com/7248948/54490817-a9ee4a00-488f-11e9-93c0-4a04d55c0e77.png)
![Screenshot 2019-03-17 08 33 22](https://user-images.githubusercontent.com/7248948/54490818-aa86e080-488f-11e9-8e06-bf9e33c17d1

[2019-03-17 19:11] lvanfretti opened #70 "Beginners Tutorial"
@t-sommer

This is a "feature" request for a beginners tutorial using Jupyter notebooks to explain step by step the different functionalities of fmpy using simple workflows.

Based on the feedback I got from you and hands-on examples, I put together the one attached. It is meant for people (like me) that are not very familiar with Python.

Hope it is good feedback, you can probably make it nicer!

[2019-03-17 20:08] lvanfretti commented on #69
@t-sommer

I exported the FMU using a different tool who's name shall not be mentioned ;-) and everything is working.

[OpenIPSL_Tutorial_Example_1_Example_1_fmu.zip](https://github.com/CATIA-Systems/FMPy/files/2975655/OpenIPSL_Tutorial_Example_1_Example_1_fmu.zip)

![Screenshot 2019-03-17 16 06 00](https://user-images.githubusercontent.com/7248948/54497252-c8276a80-48ce-11e9-8f91-58e6a407c9ca.png

[2019-03-17 20:08] #69 closed

[2019-03-18 08:03] t-sommer commented on #70
I've already made some experiments with https://notebooks.azure.com/. They host an entire Anaconda installation on a VM you can share with others including data, FMUs etc. for free.

The CoupledClutches example is fairly synthetic. Maybe we can find something more accessible for beginners? A simple test equation?

[2019-03-18 10:38] lvanfretti commented on #70
Oh! That's great! I remember now you mentioned this, you are fast!

Do you want to share the environment it with me so I can test my script?

About the example, I usually like to use the bouncing ball, because it is not easy to do it with traditional tools (e.g. Matlab), and is really simple with Modelica.

`model BouncingBall "The 'classic' bouncing ball model"
  type Height=Real(unit="m");
  typ

[2019-03-18 12:03] t-sommer commented on #70
Here you go: https://notebooks.azure.com/t-sommer/projects/fmpy-demo-2

It's still a work in progress...

[2019-03-18 12:54] lvanfretti commented on #70
Thanks Torsten, that saves a lot of time!
I’ll test out my script in your environment in the next days.

You can close the thread if you wish.

Luigi
On Mar 18, 2019, 8:03 AM -0400, Torsten Sommer <notifications@github.com>, wrote:

[2019-03-18 13:56] t-sommer commented on #70
I've renamed the project to https://notebooks.azure.com/t-sommer/projects/CoupledClutches and added a link to the README.md

[2019-03-18 13:56] #70 closed

[2019-03-18 21:19] t-sommer commented on #69
@lvanfretti, have you tried to set the license path as a system wide environment variable?

[2019-03-18 21:20] lvanfretti commented on #69
Like this? If so, yes.

Luigi
On Mar 18, 2019, 5:19 PM -0400, Torsten Sommer <notifications@github.com>, wrote:

[2019-04-04 08:45] anoushp opened #71 "Issue with EnergyPlus cosimulation"
Hello,

I am trying to create a simple co-simulation example with .fmu file generated from EnergyPlus. I looked at your co simulation examples and they used FMU3Slave. However EnergyPlus to FMU  supports FMI 1.0 so I am using FMU1Slave. I get the following error on fmu instance initialisation fmu.initialize(tStart=86400+60, stopTime=259200):
" **The delta between the FMU stop time %f and the FMU s

[2019-04-04 19:35] chrbertsch commented on #71
@anoushp :  It looks like this is an EnergyPLus specific error, exactly as the error message says:
Your differenceof stop-time and start time is not devidable by 86400s (one day). Perhaps use tStart=86400? or tStart=0?

[2019-04-05 13:07] t-sommer commented on #71
Unless you need a custom simulation loop I'd recommend to use `simulate_fmu()` instead of instantiating `FMU1Slave` directly. It allows you to set the start and stop time via parameters.

The reason why you see the  `%f` in the message is that it's not possible to access the variadic arguments in the callback that's implemented in Python.

[2019-04-06 11:09] filip-jezek opened #72 "Enable setting tolerance in FMU2 CS"
Related #11 and #46 , the Relative tolerance is configurable for ME, but it is greyed out for CS. So one needs to switch to ME, adjust the tolerance and then switch to CS again.

Could you please make it adjustable for CS as well?
Thanks!

[2019-04-06 13:09] #72 closed

[2019-04-06 13:11] t-sommer commented on #71
@anoushp, can you share the FMU and / or some demo code, so we can reproduce the issue?

[2019-04-06 13:16] t-sommer commented on #52
@chrbertsch, so what you actually want to set is the `output_interval` parameter that's passed to `simulate_fmu()`?

[2019-04-06 15:09] #68 closed

[2019-04-06 19:02] anoushp commented on #71
Thanks I tried everything (tStart=0 and Tstart = 86400) and couldn't make it work before.

[2019-04-06 19:04] anoushp commented on #71
Thanks t-sommer I am trying to attach the files but it doesn't let me to attach fmu/py files.

[2019-04-07 13:40] chrbertsch commented on #52
Yes. (This will be the macro timestep of the for the CS FMU, right?)

[2019-04-08 19:47] t-sommer commented on #71
You can pass the `print` function as a log function to the constructor of `FMU1Slave` to get a full log of the FMI calls:

[code]

There you can see if the start and stop time are passed correctly to the FMU.

[2019-04-09 10:46] masoud-najafi opened #73 "separator in the input CSV file"
If the separator character in the input-file is not a comma (',')  fmpy crashes.
here is an example of the input file.

"time";"Voltage"
0.0;0.0
0.01;1.0

  File "e:\anaconda3\Scripts\fmpy-script.py", line 10, in <module>
    sys.exit(main())
  File "e:\anaconda3\lib\site-packages\fmpy\command_line.py", line 91, in main
    input = read_csv(args.input_file) if args.input_file else None
  File "e:\

[2019-04-09 11:53] t-sommer commented on #73
CSV stands for "Comma Separated Values" and it's the format we use e.g. in the FMI Cross-Check. The above example is not a valid CSV.

However you can read the file using [numpy.genfromtxt](https://docs.scipy.org/doc/numpy/reference/generated/numpy.genfromtxt.html) with the `delimiter` argument and pass it to `simulate_fmu`.

[2019-04-09 11:53] #73 closed

[2019-04-09 12:03] masoud-najafi commented on #73
OK. That's clear now. A crash is a little bit misleading, an error message would help more.

[2019-04-09 12:08] t-sommer commented on #73
IMHO the error message provided is quite clear:

[code]

The string `0.0;0.0` is not a valid float literal.

[2019-04-10 11:19] diasdm opened #74 "String input / output support"
Hello,
Sorry to bring this question here, but I asked a question in [stackoverflow](https://stackoverflow.com/questions/55497090/how-to-get-string-output-variables-with-fmpy) and I still haven't found a definite answer for it.
 My question is:
* does FMPy support input / output String variables? If so, can you provide some pointers or example usage?

Thank you

[2019-04-10 13:16] t-sommer commented on #74
@diasdm, can you describe a use case where you need Strings as input and/or output?

[2019-04-10 13:37] diasdm commented on #74
For now I'm just exploring the FMI standard for use in a project and don't have a specific use case to give you. But as an example, it might be useful while FMI does not have support for arrays.

Thank you for the reply in stackoverflow. If you see fit, you can close this issue.

[2019-04-11 07:57] diasdm opened #75 "Logging shows placeholders"
Hello,
While simulating FMUs with `loggingOn=True` the logs are printed to the console but the place holders are not replaced by its values.

Example: using this [example](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py) with `fmu.instantiate(loggingOn=True)` I get the following console output:

[code]
I have rulled out a problem with the FMU (CoupledClutches) since

[2019-04-11 08:23] t-sommer commented on #75
It's a limitation of the ctypes interface that the variadic arguments passed to the logger callback are not accessible.

FWIW, the variadic arguments will be removed in FMI 3.0, so this won't be an issue any more.

[2019-04-11 08:23] #75 closed

[2019-04-11 08:34] diasdm commented on #75
Just now realised that #71 references this, sorry about that. Thank you for your answer.

[2019-04-11 12:31] t-sommer commented on #71
@anoushp, can you post the FMI call log (as suggested above)?

[2019-04-11 15:05] jbernalr opened #76 "control verbosity of simulate_fmu"
Is there a way to control the verbosity level when calling simulate_fmu?
from no output to lets say show me only the events occurred an no other information?

[2019-04-11 16:13] t-sommer commented on #76
If you want to filter the log messages you can pass your own logger function to `simulate_fmu()` e.g.

[code]

Events generate duplicate samples in the result (same time for successive samples). You can even plot the events with

[code]

For something more advanced just put a (conditional) breakpoint in the code - it's open source.

[2019-04-16 07:39] jbernalr commented on #76
This works. There are messages however that come out from the solver (which of course comes precompiled) I'm want to figure now how to control the call to the solver and if there are any parameters regarding logging I can control. Thanks!

[2019-04-16 08:08] t-sommer commented on #76
The interface to CVode is the [CVodeSolver](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/sundials/__init__.py#L143) class. CVode has a lot of options but only some of them are exposed in the Python interface (e.g. `maxStep`, `relativeTolerance` and `maxNumSteps`). To change other parameters you would have to add the respective constants and functions from the SUNDIALS header files using

[2019-04-22 14:35] diasdm commented on #74
Hi, I found an easy solution and for what I was trying to accomplish. I will describe it in case someone finds it useful.

In [simulation.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L58) I added the String type as a Python object (probably not ideal... but it works):

    types = [('Real', np.float64), ('Integer', np.int32), ('Boolean', np.bool_), ('String', object)]

[2019-04-22 19:57] t-sommer commented on #74
Thanks for sharing your findings, @diasdm! I've already implemented experimental support for String I/O on [feature/string-output](https://github.com/CATIA-Systems/FMPy/tree/feature/string-output).

However I'm hesitant to merge it into develop because it adds more complexity and I still don't see the need beyond supporting the synthetic values.fmu.

[2019-04-23 08:25] diasdm commented on #74
I didn't know, thank you.
I understand. If I find a use case for which String I/O is required I'll make my case.

[2019-04-23 08:48] anoushp commented on #71
Hi, sorry I was away. Is there any chance I can send you the code and fmu and you could reproduce it.
I tried fmiCallLogger and on fmu.dostep I get
(base) C:\testfmu>python cosimtest1.py
<fmpy.model_description.ModelDescription object at 0x0000024015993908>
_fmu_export_actuator
C:\Users\ap647\AppData\Local\Temp\tmpv175imxo
[OK] b'The current working directory is %s\n'
[WARNING] b'fmiInstantiate: T

[2019-04-23 08:50] #74 closed

[2019-04-23 08:52] t-sommer commented on #71
Can you try to put everything in a ZIP file and attach it to you comment?

[2019-04-23 08:58] anoushp commented on #71
Hi,

Thanks for quick response. I am not an expert in Energy Plus so I am using a simple example model fmu provided by EnergyPlusToFMU  software package.  Please see the zip attached. I am using EnergyPlusv9-0-1.
[testfmu.zip](https://github.com/CATIA-Systems/FMPy/files/3106731/testfmu.zip)

[2019-04-23 09:14] t-sommer commented on #71
The attached FMU is trying to execute the command `energyplus` (tool coupling)

[code]

which I don't have installed.

Can you try to run the following Python script:

[code]

[2019-04-23 10:09] anoushp commented on #71
I get the following error written in .err file
Program Version,EnergyPlus, Version 9.0.1-bb7ca4f0da, YMD=2019.04.23 11:07,
   ** Warning ** Weather file location will be used rather than entered (IDF) Location object.
   **   ~~~   ** ..Location object=CHICAGO_IL_USA TMY2-94846
   **   ~~~   ** ..Weather File Location=Denver Centennial  Golden   Nr CO USA TMY3 WMO#=724666
   **   ~~~   ** ..due to

[2019-04-23 10:10] anoushp commented on #71
(base) C:\testfmu\Output_EPExport__fmu_export_actuator>energyplus -w runweafile.epw -p _fmu_export_actuator -s C -x -m -r _fmu_export_actuator.idf
Running EPMacro...
ExpandObjects Started.
No expanded file generated.
ExpandObjects Finished. Time:     0.016
EnergyPlus Starting
EnergyPlus, Version 9.0.1-bb7ca4f0da, YMD=2019.04.23 11:07
Adjusting Air System Sizing
Adjusting Standard 62.1 Ventilation

[2019-04-23 11:18] t-sommer commented on #71
You can set the sample interval manually:

[code]

[2019-04-23 12:24] anoushp commented on #71
Many thanks I tried it and it doesn't give error.  But I need to print variables on every step or change the input variable. I understood fmu.doStep method. but with simulate_fmu is it possible to control every step?

[2019-04-23 13:29] t-sommer commented on #71
You can pass a callback function to `simulate_fmu()` that gets called after every step:

[code]

In the callback you can use `fmu.setReal()` to set the input.

[2019-04-23 14:00] anoushp commented on #71
t-sommer thanks, I tried your suggestion and executed the following code
from fmpy import simulate_fmu
def my_callback(time, recorder):
    print(recorder.fmu)
    # use recorder.fmu to access the FMU instance
    pass

result = simulate_fmu('fmu_export_actuator.fmu', output_interval=6, step_finished=my_callback)
but again it does not work:
Starting Simulation at 01/01/2011 for RUNPERIOD 1
Externa

[2019-04-23 16:45] t-sommer commented on #71
Did you check the "EnergyPlus *.err file"?

[2019-04-23 16:50] anoushp commented on #71
Perhaps the problem is with CommunicationStepSize I am not sure. Here is the .err file from E+
[code]
Do you have any working example of co simulation with energyplus fmu ? I could have a look at it too.

[2019-04-23 17:47] t-sommer commented on #71
I don't have an example of a Python script with a tool coupling FMU (I assume this is what you mean by "co simulation"), but any legal FMU should work. Please contact the tool vendor for an example. It does not seem like there is an issue with FMPy.

[2019-04-23 17:47] #71 closed

[2019-04-23 18:53] anoushp commented on #71
No problems, thanks for help. One more thing the vendor website [](http://simulationresearch.lbl.gov/fmu/EnergyPlus/export/userGuide/usage.html#f2)

says that " **a tool that imports the FMU must synchronize it every 10 minutes. Otherwise, the simulation will stop with an error**". This is for the case TimeStep=6. Perhaphs there is an argument that I missed in **simulate_fmu** that could do that?

[2019-04-26 07:48] anoushp opened #77 "simulate_fmu: callback function problem"
Hi,

I am trying to track the variables of fmu on each step. Currently I have the following code:
[code]
my callback prints time only once in the end and it is 0. However simulation runs successfully. I am not sure what can cause this problem.

Thanks,

[2019-04-26 08:20] t-sommer commented on #77
You have to return `True` to continue the simuliation:

[code]

Note that this callback interface is marked experimental and might change in a future release.

[2019-04-26 08:32] anoushp commented on #77
@t-sommer thanks!

[2019-04-26 08:32] #77 closed

[2019-05-06 10:20] masoud-najafi opened #78 "single line CSV input file"
If the CSV input file is composed of only a single line, FMPY cannot read it.
Here is an example where "inputx" input variable is constant all over the simulation.

"time","inputx"
0.0,1

This may have already been fixed or it is not an issue, but since FmuChecker supports the single line csv file, it would be good to support it in FMPY too.

[2019-05-06 13:52] t-sommer commented on #78
Fixed with d606671858d5acc403cbfc51afa9f1196d42faa8

[2019-05-06 13:52] #78 closed

[2019-05-13 12:34] ebw44 opened #79 "Error on simulate_fmu clean up"
At the end of simulate_fmu() when cleaning the tempdir I get a:

Replacing l554 of fmpy\simulation.py
`shutil.rmtree(tempdir)`
by
`shutil.rmtree(tempdir, ignore_errors=True)`
fix the problem for me.

[2019-05-13 14:25] t-sommer commented on #79
Seems like a DLL is still loaded. Can you share the FMU that causes the problem?

[2019-05-16 09:08] ebw44 commented on #79
Here is a simple example (output is the product of the input with a sin signal). It was generated by Hopsan and the extension changed to zip in order to post it here.
[fmuTest.zip](https://github.com/CATIA-Systems/FMPy/files/3186236/fmuTest.zip)

Please note that Hopsan has [issue ](https://github.com/Hopsan/hopsan/issues/1846) with generationDateAndTime date field (fixed manually for that example

[2019-05-24 10:12] dmitrygrigoryev commented on #64
We are use the 32-bit FMPy to simulate some legacy models.

[2019-05-24 12:45] glmourad commented on #25
Hi @t-sommer, thanks for the example. Works fine using memory.
Is it possible to store the fmu state using files?

[2019-05-24 13:02] t-sommer commented on #25
The serialized state is just a byte string. You can store it as a file or in a database.

[2019-05-24 14:56] #79 closed

[2019-05-24 15:00] ebw44 opened #81 "Open non valid fmu in gui."
If opening of fmu fail, then ask the user if he/she wants to try without model validation.
[Here ](https://github.com/ebw44/FMPy/commit/053e055d261a7ca8d9100a2b27fd5ae1bcf8b905)is a commit on a fork that does it.
And here is the patch
[patch.diff.txt](https://github.com/CATIA-Systems/FMPy/files/3217450/patch.diff.txt)

[2019-05-27 14:11] t-sommer commented on #81
The GUI relies on a valid model description. Disabling the validation would likely break the GUI and lead to a poor user experience.

[2019-05-27 14:11] #81 closed

[2019-05-29 08:11] magraeber opened #82 "Possibility to get progress during simulation"
When using the function simulate_fmu for long simulations I would like to have the possibility to send progress information somewhere, to have some kind of progress indicator for users.

One idea would be to allow customization of Recorder class.

[2019-05-29 09:57] t-sommer commented on #82
You can pass a callback function (`step_finished`) to `simulate_fmu()` that gets called after every step (see also #77).

[2019-06-03 07:57] t-sommer commented on #82
Does this work for you, @magraeber?

[2019-06-03 08:01] t-sommer commented on #76
@jbernalr, please open a new issue if you need additional functions from the CVode API.

[2019-06-03 08:01] #76 closed

[2019-06-03 10:55] magraeber commented on #82
Yes, that's perfect. Thanks!

[2019-06-03 10:56] #82 closed

[2019-06-05 08:28] t-sommer commented on #52
@chrbertsch, can you give ebbc765 a try?

[2019-06-06 13:36] #52 closed

[2019-06-06 13:37] t-sommer commented on #65
@magraeber, can we close this issue?

[2019-06-06 13:59] magraeber commented on #65
Yes, it works perfectly.

[2019-06-06 13:59] #65 closed

[2019-06-06 19:32] chrbertsch commented on #52
I tried to verify the commit but failed with running the gui. Any hints?
[code]

[2019-06-07 06:37] t-sommer commented on #52
The Qt UI Compiler (UIC) needs to be installed when you install FMPy from source to generate `fmpy.gui.generated.MainWindow`. See also [hacking.md#setup-your-python-environment](https://github.com/CATIA-Systems/FMPy/blob/master/docs/hacking.md#setup-your-python-environment).

[2019-06-12 12:36] chrbertsch commented on #52
https://github.com/CATIA-Systems/FMPy/blob/master/docs/hacking.md#setup-your-python-environment does not seem to  mention the Qt UI compiler or how to install/use it.

[2019-06-12 12:53] t-sommer commented on #52
UIC is part of PyQt5. The problem is that (according to the error above) that you have built the Python wheel _before_ installing PyQt5.

[2019-06-12 13:37] chrbertsch commented on #52
I have installed all the packages and built the wheel again. Still errors ...
[code]

[2019-06-12 14:17] t-sommer commented on #52
This works for me:

[code]

[2019-06-12 15:23] chrbertsch commented on #52
This installation order worked fine.
I verified the new feature for setting the communication timestep.  Thanks.

[2019-06-14 12:45] t-sommer opened #83 "CMake build does not add optional folders to archive"
The generated CMake project is not adding optional folders (e.g. `resources`) to the FMU archive (see https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/c-code/CMakeLists.txt#L59)

[2019-07-10 14:49] magraeber opened #84 "Interactive Simulation"
I would like to use FMPy in some kind of real-time simulation with interactive user-input.

Synchronization with real-time can be done outside FMPy, but I need the possibility to:
* do some simulation steps
* wait for new inputs
* continue simulation

I have scanned the Input class. Maybe I could customize it, to support this interactivity.

@t-sommer, what is your recommended way to implement som

[2019-07-10 15:36] t-sommer commented on #84
How about using the `step_finished` callback? (see also #82)

[2019-07-10 15:47] magraeber commented on #84
Ok, I could use this callback to synchronize with real time, by inserting something like sleep() in my function.

But how can I change the FMU inputs to new values (that are not known in advance)?

[2019-07-10 16:07] t-sommer commented on #84
You can call `fmu.setReal()` (see [custom_input.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py) for an example).

[2019-07-10 16:10] t-sommer commented on #84
Depending on what you're trying to do it might be easier to write your own simulation loop based on the above example. That way it's easy to synchronize with your real-time I/O.

[2019-07-10 19:54] magraeber commented on #84
Thanks for the hints. This example looks like a perfect starting point.

[2019-07-10 19:54] #84 closed

[2019-07-17 15:11] dafred94 opened #85 "[Ubunutu 18.04] OpenModelica FMU won't instantiate"
I have an issue very similar to ticket #62 .
This is what is reported:

`JSON object expected ',' or '}', got: "lineEnd":545,"colSt`
`Aborted (core dumped)`

The error seems to happen during fmpy.fmi2.FMU2Slave.instantiate .
This is what `fmpy simulate --debug-logging --fmi-logging Dymola_fullRobot.fmu` reports:
(note that the fmu filename was edited by hand to fit to a hardcoded path in my code.

[2019-07-17 15:46] aakashsehgal opened #86 "FMU is not a zipped file"
I am not accessing the raspi through a SSH client.
I could download the fmu mentioned in the turorial but while performing any other operation, it gives an error stating that the File is not a zip file.

[2019-07-17 21:54] t-sommer commented on #86
Can you provide the output and steps to reproduce the problem?

[2019-07-17 22:00] t-sommer commented on #85
According to the log _the FMU_ terminated the simulation. Does it work with any other tool?

[2019-07-18 06:30] dafred94 commented on #85
Funnily, today (after a fresh boot), said problem no longer occurs. (The fact that the solver "fails" at some point is still an issue but I believe that this is not related to your fmpy module.) Thanks for the quick answer however!

[2019-07-18 06:30] #85 closed

[2019-07-18 07:48] aakashsehgal commented on #86
Yes Sure !

I followed the [this](https://github.com/CATIA-Systems/FMPy/wiki/RaspberryPi) tutorial :

Firstly installed the dependencies :

[code]
and then getting the fmu:

[code]
Untill this point it works fine. Now as soon as i try to do any operation on this fmu, i get the following error:

`pi@raspberrypi:~ $ fmpy info CoupledClutches.fmu`

Error:

[2019-07-18 08:18] t-sommer commented on #86
The SVN repo has been moved to GitHub. Please use this URL instead: https://github.com/modelica/fmi-cross-check/raw/master/fmus/2.0/cs/c-code/MapleSim/2016.2/CoupledClutches/CoupledClutches.fmu

I've updated the example. Please re-open the issue if it does not work.

[2019-07-18 08:18] #86 closed

[2019-07-18 09:52] aakashsehgal commented on #86
It works. Thanks !

I just had one question. Does the fmu needs to be generated for a specific platform to be run with fmpy ?
I generated one using Matlab for linux 32 but i cannot simulate this:

when i try to simulate this using : `fmpy simulate SimTime.fmu`, it cannot find the *.so file

`pi@raspberrypi:~ $ fmpy simulate SimTime.fmu
Traceback (most recent call last):
  File "/usr/local/bin/fmpy

[2019-07-18 12:54] t-sommer commented on #86
"linux32" implicitly means "Linux on x86 (32-bit Intel)" in FMI 1.0 and 2.0, which means you have to compile the FMU from source on the target platform (e.g. ARM) or cross-compile on your Desktop.
In FMI 3.0 there will be "platform tuples" (e.g. "x86_64-linux") to address this issue.

[2019-07-18 14:39] #67 closed

[2019-07-23 04:56] ghorwin opened #88 "Partial checking of fmi-cross-check repo"
It would be helpful to have two optional arguments to validate_repo() to allow for partial processing of the fmi-cross-check repository. You can either only process cs or me trees (filter by fmi_type) and/or by platform ID.

Background is that most vendors will typically only check FMUs for a specific platform at a time, and evaluating FMUs of other (unchanged) platforms is a waste of time and res

[2019-07-30 13:34] MoritzStueber opened #89 "Input from .csv-file shifted by one output interval"
When reading input data from a .csv-file, the values are shifted in time by one output interval.

## Minimal Working Example
A minimal model was set up for reproducing the observed behaviour.

[code]

The model was exported as a FMU 2.0 for Co-Simulation (solver: DASSL) using Dymola 2019 on Ubuntu 16.04. The .csv-file used as input had the following content:

[code]

The FMU was then simulated as

[2019-07-30 13:46] t-sommer commented on #89
Can you share the FMU as well?

[2019-07-30 13:49] MoritzStueber commented on #89
[MinimalWorkingExampleInputShifting.fmu.zip](https://github.com/CATIA-Systems/FMPy/files/3447074/MinimalWorkingExampleInputShifting.fmu.zip)

The .zip-extension was added to bypass the inability of GitHub to upload .fmu-files.

[2019-08-04 15:16] t-sommer commented on #89
If I run the model with `fmpy.simulate_fmu(..., fmi_call_logger=print)`, I get the following log.
Can you explain what you think is going wrong?

[code]

[2019-08-05 11:55] MoritzStueber commented on #89
Seems to work for you.. However, here is what I get:
[code]
From what I can see, the `fmi2SetReal()` and `fmi2DoStep()` lines are equivalent, but there is a difference in the lines starting with `fmi2GetReal`: in your output, `nvr=2` and `value` is an array with two values instead of just one. Is this maybe relevant?

[2019-08-06 07:34] t-sommer commented on #89
Here's the command line I've used:

[code]

[2019-08-06 13:42] MoritzStueber commented on #89
Ah, I see. When specifying the output variables like you did, I get the same log messages. However, the problem that I experience cannot be seen in these log messages because the timestamp is missing (I tried `output=['time', 'u1', 'y1']`, but that did not include the timestamp). As described above, my problem is that, for example, at `time=1s`, both `u1` and `y1` have the value of `5` instead of

[2019-08-06 13:55] MoritzStueber commented on #89
I just saw that you can actually see the timestamp via `currentCommunicationPoint=..`, and that according to these log messages, communication point and value seemingly match the expectations. But, when I print `result`, that is no longer the case...

[2019-08-14 09:25] t-sommer opened #90 "Add Reload button to GUI"
to allow reloading with a single click

[2019-08-19 16:21] MoritzStueber commented on #89
I believe that I found the cause of this issue: when simulating an FMU for CS in `simulateCS(..)` ([simulation.py, line 814-828](https://github.com/CATIA-Systems/FMPy/blob/develop/fmpy/simulation.py#L814)), `recorder.sample(..)` is called __before__ the current step is executed. This means that the values at the _previous_ timestep are recorded instead of the current values.

The simulation loop a

[2019-08-20 10:15] t-sommer commented on #89
FMI for Co-Simulation introduces a "delay" of one time step if you have a feed-through signal. If you need direct feed-through you'll have to use Model Exchange. However you might be able to work around this limitation by providing input derivatives to a Co-Simulation FMU that supports it.

[2019-08-20 10:15] #89 closed

[2019-09-04 10:11] t-sommer opened #91 "Increase file size limit for cross-check to 6 MB"

[2019-09-16 12:24] t-sommer opened #92 "Handle *.nofmu files in Cross-Check"
see modelica/fmi-cross-check#70

[2019-09-16 13:02] #90 closed

[2019-09-17 07:11] t-sommer opened #93 "Disable "Reload" action until an FMU is loaded"

[2019-09-19 06:40] t-sommer commented on #93
solved with 9f275bf2d14e2225b5d37ebd661a42f53ba12f14

[2019-09-19 06:40] #93 closed

[2019-10-04 09:17] t-sommer opened #94 "Extend static FMU compliance checks"
to detect [problems reported by INTO-CPS](https://github.com/INTO-CPS-Association/FMI2-VDM-Model/releases/download/0.0.2-1/fmuCheck.results)

[2019-10-09 08:47] masoud-najafi opened #95 "Variable name "time" crashes GUI"
HI,
simulation of this FMU makes fmpy.gui crash with the following error message.

(base) E:\>python -m fmpy.gui
Traceback (most recent call last):
  File "e:\anaconda3\lib\site-packages\fmpy\gui\MainWindow.py", line 689, in updatePlotData
    self.result = np.array(self.simulationThread.rows, dtype=np.dtype(self.simulationThread.cols))
ValueError: field 'time' occurs more than once

[boocwen.zip]

[2019-10-14 07:37] dafred94 opened #96 "The unit '1' of variable 'd.k' is not defined."
The error reported is:

It is reported when I try to load an FMU generated from OpenModelica using Reals without physical units. Is there a way to ignore the "illegal" unit of "1"?
When I load and execute the FMU with the normal FMPy interface (i.e. NOT the gui), it works just fine.

[2019-10-14 12:06] t-sommer commented on #96
This is essentially the same issue as #81. Please open an issue with OpenModelica so they can improve their implemenation.

[2019-10-14 12:06] #96 closed

[2019-10-14 12:09] t-sommer commented on #94
Variable name validation for naming convention "structured" has been added in b7a008fc98cceb5384dd427bcf1ac75f7a2e29af.

[2019-10-14 12:09] #94 closed

[2019-10-16 15:31] vpollex opened #97 "Let the user set the value of visible"
FMPy must supply an argument `visible` when it instantiates an FMU. Currently (v0.2.13), the value for `visible` is always `false`. To test an FMU that supports the value of `true` for the argument `visible`, it would be helpful if the user can specify the value of `visible`. For example, by a command line argument `--visible` and an additional QCheckBox in the GUI.

[2019-10-16 19:24] munsivut opened #98 "Disable 'Read Start Values' menu item when needed"
When i press 'Read Start Values' GUI crash if FMU file is not loaded or it not contain platform file (DLL -file).

[2019-10-17 05:21] t-sommer commented on #97
The FMI spec is a bit vague regarding the `visible` flag:

reduced to a minimum (no application window, no plotting, no animation, etc.). In other
words, the FMU is executed in batch mode. If visible = fmi2True, the FMU is executed
in interactive mode, and the FMU might require to explicitly acknowledge start of simulation /
instantiation / initialization (acknowledgment is non-blocking).

Maybe `

[2019-10-17 07:55] vpollex commented on #97
Since you never came across an FMU that uses the flag, I would expect that an FMU usually runs in batch mode. So, I argue for leaving `visible` to be `fmi2False` by default, and only set it to `fmi2True` when the user explicitly requests it.

I currently work for [INCHRON](https://www.inchron.com) and we sell [chronSIM](https://www.inchron.com/tool-suite/chronsim/), a product that simulates the ti

[2019-10-17 17:40] munsivut commented on #98
First case (FMU is not loaded) is closed, but second case still cause crash. When there no exists platform file (.dll) inside FMU then 'Load Start Values' pressing cause crash. I think enabling should behave as below (like simulate button).

[code]

[2019-10-17 20:48] t-sommer commented on #98
Thanks for you help, @munsivut!

[2019-10-17 20:48] #98 closed

[2019-10-17 21:40] t-sommer commented on #97
Does a8ec75e7a8659c72eec0a929bd8b89e1401b8cfc work for you?

[2019-10-18 09:08] t-sommer commented on #95
@masoud-najafi, is it really necessary to have a variable called "time"? This creates a lot of problems (also in other tools) since "time" is often used to log the simulation time (e.g. in CSVs).

[2019-10-18 09:17] masoud-najafi commented on #95
I know it is really a bad choice, but it is not illegal in FMI-2. Indicating that this is not a good FMU would be sufficient to avoid the crash.

[2019-10-18 09:46] #95 closed

[2019-10-18 14:20] vpollex commented on #97
Yes, it works for me, thank you.

[2019-10-19 21:07] #97 closed

[2019-11-04 10:27] t-sommer opened #100 "Drop Python 2.7 support"
Python 2 is being sunsetted by the PSF, and many projects are following suit: https://python3statement.org/.

Some of our dependencies (e.g. numpy) have dropped support for Python 2 in new releases at the end of 2018. We may want to follow suit.

A few questions:

- When should we end python 2.7 support? Is Jan 1 2019 too soon?
- Is this something that downstream projects will be fine with?
- Do w

[2019-11-05 15:02] t-sommer opened #101 "Provide Jacobian to CVode"
by implementing `CVLsJacFn()` (see [CV Guide](https://computing.llnl.gov/sites/default/files/public/cv_guide.pdf), p. 73).

[2019-11-10 21:48] hugovk commented on #100
About NumPy, see also "NEP 29 — Recommend Python and Numpy version support as a community policy standard":

* https://numpy.org/neps/nep-0029-deprecation_policy.html

[2019-11-11 11:19] chrbertsch commented on #100
For us ending python2 support is ok.

[2019-11-11 20:03] #83 closed

[2019-11-11 20:05] FabiJa opened #102 "Exception handling of CVODE"
As far as I have experienced so far, error during numerical integration with CVODE are only printed to console, but no exception is raised within fmpy. This makes error handling of integration errors impossible.
Therefore I would like to see some error management implemented, at least raising an error within Python, that can be handled in custom code.

[2019-11-11 20:51] t-sommer commented on #102
Can you share an FMU with parameters to reproduce the problem?

[2019-11-11 20:56] FabiJa commented on #102
I'll try to find a minimal example.

[2019-11-12 07:50] chrbertsch commented on #102
Here is an example coming from @FabiJa
[PT2.zip](https://github.com/CATIA-Systems/FMPy/files/3834955/PT2.zip)

Code:
[code]

Error by CVode in Console

[CVODE ERROR]  CVode
  At t = 99.9817, mxstep steps taken before reaching tout.

[2019-11-12 11:27] t-sommer commented on #102
Can you try 0650aec5ac21a482bdc71e43edb89224097eb983?

[2019-11-21 12:45] fajansen opened #103 "Provide way to disable all plots"
When loading a FMU with many outports in fmpy.gui, the plots become unreadable. Please provide a way to disable them all, as disabling them individually is very tedious.

[2019-12-02 07:33] markaren opened #104 "Update SSP support to 1.0"
It would be nice if the SSP support was updated from `Draft20171219` to `1.0`.

[2019-12-02 12:28] t-sommer commented on #104
Without publicly available test models it's very difficult to update the implementation. The [SSP website](https://ssp-standard.org/) currently lists no tools with SSP support and no demo models.

[2019-12-02 13:59] markaren commented on #104
This is indeed a pain point for adoption.

[2019-12-05 15:38] debuti opened #105 "Deprecated functions in Python 3.8 used in FMPy"
Seems like the pyqtgraph version fmpy is using is not updated to work with python 3.8, as it removed the clock() function from the time module

[code]

[2019-12-05 17:21] t-sommer commented on #105
This problem has been fixed (see https://github.com/conda-forge/pyqtgraph-feedstock/issues/10).

[2019-12-05 17:21] #105 closed

[2020-01-20 12:54] t-sommer opened #106 "Calculate currentCommunicationPoint by multiplying instead of adding step_size"
to avoid accumulation of numeric errors since this can lead to unexpected results when simulating models with a fixed internal step size (see e.g. https://github.com/CATIA-Systems/FMIKit-Simulink/issues/133).

[code]

[2020-01-23 14:34] Claire-Eleutheriane opened #107 "handling of causality="none""
FMPy refuses to simulate a model if one of the variables has the causality "none" ( keyword is not known).
This happens for instance when needing to inverse a tangent function in the model: intermediary variables are created, which causality is None.
[signal_bug_fmpy.zip](https://github.com/CATIA-Systems/FMPy/files/4103562/signal_bug_fmpy.zip)

[2020-01-23 15:05] t-sommer commented on #107
`none` is not a legal value for attribute `causality` (see [FMI 2.0 Spec](https://svn.modelica.org/fmi/branches/public/specifications/v2.0/FMI_for_ModelExchange_and_CoSimulation_v2.0.pdf), p. 46). Please open an issue on the [OpenModelica Trac](https://trac.openmodelica.org/OpenModelica/newticket).

@sjoelund, is this problem already known?

As a workaround you can edit the `modelDescription.xml`

[2020-01-23 15:05] #107 closed

[2020-01-23 15:13] Claire-Eleutheriane commented on #107
Thanks for your answer!

De : Torsten Sommer <notifications@github.com>
Envoyé : jeudi 23 janvier 2020 16:05:50
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Author
Objet : Re: [CATIA-Systems/FMPy] handling of causality="none" (#107)
 

none is not a legal value for attribute causality (see

FMI 2.0 Spec, p. 46). Please open an issue on the
OpenModelica Trac.
@sjoelund, is this

[2020-01-23 15:16] sjoelund commented on #107
@arun3688 - please have a look and open a ticket for OpenModelica. `causality="none"` seems to only exist in FMI 1, but we generate it also in FMI 2...

[2020-01-24 09:57] arun3688 commented on #107
@sjoelund I have created a [ticket](https://trac.openmodelica.org/OpenModelica/ticket/5802#ticket)

[2020-01-27 13:13] markaren opened #108 "Cryptic error message in fmpy.gui for illegal causality and variability combinations"
E.g. loading an FMU using fmpy.gui that defines ScalarVariable with causality=calculatedParameter and ~vairiability=fixed~ variability=constant will produce the error: Failed to load path/to/fmu.fmu'. 'calculatedParameter'

[2020-01-27 14:45] t-sommer commented on #108
Can you share an FMU to reproduce the problem?

[2020-01-27 14:51] markaren commented on #108
Note that I wrote the wrong variability when posting the issue. Updated now. Note that fmpy is right in issuing the error since the causality and variability combination is illegal. However the error message does not directly say why it produces an error. Can share an FMU soon.

[2020-01-27 19:15] #106 closed

[2020-01-27 19:32] #103 closed

[2020-01-27 20:07] t-sommer commented on #102
@chrbertsch, @FabiJa, did you get to try 0650aec5ac21a482bdc71e43edb89224097eb983?

[2020-01-27 20:15] #108 closed

[2020-01-27 20:16] t-sommer commented on #104
Please re-open when an updated example is available.

[2020-01-27 20:16] #104 closed

[2020-01-27 20:28] chrbertsch commented on #104
@JochenKoehler @pmai @Hans-Martin-Heinkel: It is really important to have publicly available SSP 1.0 examples, so that tools like fmpy could release and test SSP-support.

[2020-01-28 13:24] JochenKoehler commented on #104
Hi Christian,

from my point of view, it would very useful to provide the examples to anybody who is interested to support the standard. Hence it should be public.
If this is a big issue we should think about taking the Modelica models, import it to a open-source tool (e.g. Open-Modelica …) and export the model from this tool.

Could this be a workaround / alternative?

Best regards
Jochen

Von: C

[2020-01-30 08:28] FlorianKarg opened #109 "Unable to simulate FMU (using __int__ is deprecated)"
I tried to simulate a FMU with the fmpy.gui and got the following message:

Python38\site-packages\fmpy\gui\__main__.py :19: DeprecationWarning: an integer is required (got type Alignment). Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
 sys.exit(app.exec_())

This is the FMU:
----------------------------------------------------------

[2020-01-30 09:13] t-sommer commented on #109
@FlorianKarg, did you solve the issue?

[2020-01-30 09:27] FlorianKarg commented on #109
@t-sommer, no, actually not.
I thought I've fixed it but the problem is still there.

[2020-01-30 09:27] t-sommer commented on #109
Can you share the FMU?

[2020-01-30 09:31] FlorianKarg commented on #109
[PID.zip](https://github.com/CATIA-Systems/FMPy/files/4133226/PID.zip)

[2020-01-30 13:40] Claire-Eleutheriane opened #110 "FMPy segfault after 1020 simulations in Python 3 (but not Python 2)"
I use FMPy to simulate a FMU made with OpenModelica (it consists in 3 equations, no more).
In Python 3 environment, after 1020 or so simulations, the script crashes due to a segmentation error.
This however does not happen in Python 2 environment.
It does not happen at all when simulating the FMU with PyFMI library.
[bug_fmpy_python3_openmodelica.zip](https://github.com/CATIA-Systems/FMPy/files/41

[2020-01-30 14:47] FlorianKarg commented on #109
I'm getting the following error when I'm trying to Simulate the FMU in Python with:
result = simulate_fmu(fmu)

  File "<stdin>", line 1, in <module>
  File "C:\Users\karg\AppData\Roaming\Python\Python38\site-packages\fmpy\simulation.py", line 573, in simulate_fmu
    result = simulateCS(model_description, fmu_args, start_time, stop_time, relative_tolerance, start_values, apply_defa
ult_start_valu

[2020-01-30 18:48] t-sommer commented on #109
Your FMU depends on `python38.dll`. I assume this is the same Python environment you're running it from and that doesn't work. You might be able to run it from another Python environment.

[2020-01-30 18:48] #109 closed

[2020-01-30 18:52] t-sommer commented on #110
Can you provide the crash dump, so we can see where the access violation originates?

[2020-01-31 08:45] Claire-Eleutheriane commented on #110
![segfault_fmpy_openmodelica](https://user-images.githubusercontent.com/40564064/73524894-5be22680-440e-11ea-82b5-1085e5685d75.png)
Please find attached the error I get in command line.

[2020-01-31 09:08] Claire-Eleutheriane opened #111 "solver step size specification is without effect"
I have a model which requires a small step size to converge.
This model simulates without trouble on OpenModelica, and I export it as a  Model-Exchange FMU.
However, it diverges when simulated with FMPy.
Specifying Euler solver with step size has no effect, nor does specifying CVode solver with relative tolerance.
But specifying the output interval enables to get the small step size required and t

[2020-01-31 10:37] t-sommer commented on #111
Your FMU supports both Model Exchange and Co-Simulation. If you don't specify an FMI type, FMPy will use Co-Simulation by default. Use

[code]

to use Model Exchange.

[2020-01-31 13:30] #111 closed

[2020-01-31 22:06] #102 closed

[2020-02-03 10:32] FlorianKarg commented on #109
@t-sommer, I am able to run it from Python 3.7
Thank you very much!

But there is still an error message:

Traceback (most recent call last):
File "C:\Users\karg\AppData\Local\Programs\Python\Python37\lib\site.py", line 168, in addpackage exec(line)
File "<string>", line 1, in <module>
File "C:\Users\karg\AppData\Local\Programs\Python\Python37\lib\importlib\__init__.py", line 51, in <module> _w_lo

[2020-02-03 14:03] t-sommer commented on #109
@FlorianKarg, can you please open a new issue with steps to reproduce the problem?

[2020-02-07 09:24] fmahiant opened #112 "Error while simulate SSP with with Integer inputs"
If FMU's in SSP have input variable of type "Integer" then simulate_ssp ends with exception: "'NoneType' object is not subscriptable"

see traceback:
[code]

FMUs embedded in ssp are Co-simulation 2.0 . Integer Variable are describe like this:
[code]

I suspect the [0] at the end of the line https://github.com/CATIA-Systems/FMPy/blob/d6f042a47d3725cdbdd87aeb4f87d28d290f071a/fmpy/ssp/simulation.py#

[2020-02-13 17:21] Henrik-AI opened #113 "Undefined Variables by FMU import from OpenModelica"
By running any FMU created with Openmodelica (OMEdit) with voltages and currents inside, i always receive the error message:

`Exception: The unit "A" of variable "ground.p.i" (line 100) is not defined.`

`Model Info

  FMI Version       2.0
  FMI Type          Model Exchange
  Model Name        sinevoltage
  Description
  Platforms         c-code, win64
  Continuous States 0
  Event Indicators  1

[2020-02-13 20:13] calbaker commented on #113
This issue affects me but with a temperature variable.

[2020-02-13 21:15] t-sommer commented on #113
see #81, #96

[2020-02-13 21:15] #113 closed

[2020-02-24 12:07] Claire-Eleutheriane opened #114 "output_interval bypassed by pulses"
The model pulse.mo in attachment uses a pulse current: on for 2.5 seconds, off for 7.5 seconds.
Whatever the output_interval I demand to fmpy.simulate_fmu, I get the output every 2.5 then 7.5 seconds.
It would be nice if output_interval command could supersede this inner clocking.
[output_interval.zip](https://github.com/CATIA-Systems/FMPy/files/4244446/output_interval.zip)

[2020-02-25 10:02] dafred94 commented on #110
For me (Ubuntu 18.04, Python 3.8), it the segfault happens at simulation 1017. I used ipdb to see where exactly the it happens and I think it is in fmu2instantiate.

Any guidance on extracting a crash dump to upload it here?

[2020-03-12 13:56] tomaszG247 opened #115 "FMU logs are not appearing correctly"
Hi,

thank you for you work on FMPy.
 I have been using FMPy to simulate a Modelica FMU with FMPy and it runs for a while before failing with the not so helpful message
`Exception: fmi2DoStep failed with status 3.`

I tried to activate the logs of the FMU setting `loggingOn = True` in the instantiate method call.
The logs are only showing:
[code]
That suggests something is wrong with the logging r

[2020-03-13 07:37] t-sommer commented on #115
The reason for this is that the FMI callback to log messages uses variadic arguments (`...`) that cannot be passed to Python by ctypes:

[code]

The only solution I see to make variadic arguments work is to add a native library to FMPy that calls `vsnprintf()` and forwards the string to Python.

An FMU can easily build the `message` string directly by calling `vsnprintf()`. In FMI 3.0 the variadic

[2020-03-13 07:45] t-sommer commented on #115
Looking at the the output, I'm wondering why the FMU doesn't pass the string directly (as argument `message`) since it seems to be the only variadic argument.

[2020-03-13 08:59] tomaszG247 commented on #115
Thanks for the prompt reply. If I understand correctly this means it can't be corrected from FMPy side for FMUs version 2.0 ? Any suggestions on options to understand what is going on ?

[2020-03-15 15:13] IvannikovG opened #117 "Modestpy support"
Hello. This issue is only indirectly related to FMPy.
There is a library called modest-py here is the link: https://github.com/sdu-cfei/modest-py.
This library provides parameter estimation using FMUs.

I hope some people are already using modest-py with FMPy and if so i think this will be a good place to share your knowledge here for other people who are looking for the way how to do it.

[2020-03-15 18:59] t-sommer commented on #117
So what exactly is the issue?

[2020-03-15 19:20] chrbertsch commented on #117
There is a related ticket in the modespy github repo, https://github.com/sdu-cfei/modest-py/issues/52, but I see the effort completely on the modestpy side.

[2020-03-15 21:17] t-sommer commented on #117
Closing this in favor of https://github.com/sdu-cfei/modest-py/issues/52. Please open a new issue if you have a concrete problem.

[2020-03-15 21:17] #117 closed

[2020-03-17 12:56] Denzo77 commented on #71
I don't know if you're still having this problem (or even care), but hopefully this will help anyone else having this issue:
[code]
One thing that would really help is if the documentation for simulate_fmu explained the units for its inputs. I couldn't find anything that explains how the units of the inputs relate (I'm assuming that they don't necessarily have to be seconds).

[2020-03-20 11:06] t-sommer commented on #115
@tomaszG247, can you give 98caaeaa47d37404c39c01a84ed743308826679b a spin?

[2020-03-20 16:12] Denzo77 opened #118 "FMUs are not initialized with start and stop times when calling fmu_simulate"
When using FMU v1s with the fmu_simulate function, the FMU1Slave.initialize function is not passed start and stop times in [simulateME](https://github.com/CATIA-Systems/FMPy/blob/d6f042a47d3725cdbdd87aeb4f87d28d290f071a/fmpy/simulation.py#L631) and [simulateCS](https://github.com/CATIA-Systems/FMPy/blob/d6f042a47d3725cdbdd87aeb4f87d28d290f071a/fmpy/simulation.py#L823).

This causes the default sto

[2020-03-20 19:21] #118 closed

[2020-03-20 20:02] t-sommer commented on #114
If you simulate the FMU with

[code]

you should get exactly the time grid you want.

[2020-03-20 20:07] t-sommer commented on #110
@Claire-Eleutheriane, @dafred94, can you contact the OpenModelica people? I assume that the problem originates somewhere in the FMU, since FMPy only forwards the memory management calls to the native functions of the OS.

[2020-03-21 22:12] t-sommer commented on #112
Can you share an example SSP to reproduce the problem?

[2020-03-24 10:49] Claire-Eleutheriane commented on #110
Issue opened at OpenModelica:

Ticket URL: <https://trac.openmodelica.org/OpenModelica/ticket/5894>
OpenModelica <https://trac.openmodelica.org/OpenModelica>

De : Torsten Sommer <notifications@github.com>
Envoyé : vendredi 20 mars 2020 21:07:21
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Mention
Objet : Re: [CATIA-Systems/FMPy] FMPy segfault after 1020 simulations in Python

[2020-03-24 12:48] Claire-Eleutheriane commented on #114
Hi Torsten,

I hope your holidays were not disturbed due to lockdowns.

Thanks for your answer, it works!

Claire-Eleuthèriane

De : Torsten Sommer <notifications@github.com>
Envoyé : vendredi 20 mars 2020 21:02:31
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Author
Objet : Re: [CATIA-Systems/FMPy] output_interval bypassed by pulses (#114)
 

If you simulate the FMU with

resu

[2020-03-24 13:20] tomaszG247 commented on #115
Hi,
I may be doing something wrong but it is giving me
`fatal: reference is not a tree: 98caaeaa47d37404c39c01a84ed743308826679b`

[2020-03-24 15:57] fajansen opened #119 "Use 32bit FMUs in 64bit Windows"
We have FMUs that can only be compiled for 32bit (they contain code meant for a 32bit microcontroller). We have a small cosimulation tool based on fmpy, and want to run these 32bit FMUs together with proper 64bit FMUs. It would be great if fmpy would directly support this, (as for example Silver does), so we don't have to write our own 32bit to 64bit wrapper code.

[2020-03-26 21:08] #114 closed

[2020-03-27 09:56] dafred94 commented on #110
Thank you @Claire-Eleutheriane ! If you need a temporary workaround for this issue, I suggest you try multiprocessing.Pool to simulate in parallel in different processes. This helped me sidestep this issue.

[2020-03-27 10:11] Claire-Eleutheriane commented on #110
Thank you for your advise!
Until now I bypassed the issue using Python 2.

De : dafred94 <notifications@github.com>
Envoyé : vendredi 27 mars 2020 10:56:50
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Mention
Objet : Re: [CATIA-Systems/FMPy] FMPy segfault after 1020 simulations in Python 3 (but not Python 2) (#110)
 

Thank you
@Claire-Eleutheriane ! If you need a temporary wo

[2020-03-29 15:48] t-sommer commented on #119
I've created a prototype in https://github.com/CATIA-Systems/FMPy/tree/remoting that let's you simulate `win32` FMI 2.0 Co-Simulation FMUs in a 64-bit Python.

[2020-03-30 10:06] tomaszG247 commented on #115
Sorry, @t-sommer . Any ideas on this one ?

[2020-03-30 10:57] t-sommer commented on #115
Can you share the FMU that causes the problem?

[2020-03-30 15:01] tomaszG247 commented on #115
[modelica_HP1room_srcmo_Rad_1room_u_HP_Carnot.zip](https://github.com/CATIA-Systems/FMPy/files/4403644/modelica_HP1room_srcmo_Rad_1room_u_HP_Carnot.zip)

[2020-03-31 12:44] t-sommer commented on #115
I can run the above FMU without problems:

[code]

Please open a new issue if the problem persists and provide steps to reproduce.

[2020-03-31 12:44] #115 closed

[2020-04-03 13:54] t-sommer commented on #110
The `instantiate_fmu()` function that we'll introduce in the next release might also be an elegant workaround for your problem (see [efficient_loops.py](https://github.com/CATIA-Systems/FMPy/blob/develop/fmpy/examples/efficient_loops.py) for an example).

[2020-04-03 14:05] Claire-Eleutheriane commented on #110
Thank you! When is the next release going to occur?

De : Torsten Sommer <notifications@github.com>
Envoyé : vendredi 3 avril 2020 15:54:59
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Mention
Objet : Re: [CATIA-Systems/FMPy] FMPy segfault after 1020 simulations in Python 3 (but not Python 2) (#110)
 

The instantiate_fmu() function that we'll introduce in the next release mig

[2020-04-03 15:09] t-sommer commented on #110
Hopefully within a few days.

[2020-04-06 18:57] brianlball opened #120 "add stop_time in ssp"
similiar to https://github.com/CATIA-Systems/FMPy/issues/118, this is a request to add stop_time to the SSP simulation framework.  I'm successfully using it in my fork: https://github.com/brianlball/FMPy/tree/stop_time, but would like to get it folded in.

I'd do a pull request, but i saw that you do not allow and prefer issues.

[2020-04-07 07:30] fajansen opened #121 "Add license information in utils.add_remoting"
When using the add_remoting function, the precompiled client.dll and server.exe are added to the FMU. These are licensed according to the LICENSE.txt. To make complying with clause 2 of the license easy, the license information should be added to the FMU automatically together with the client.dll and the server.exe

[2020-04-07 07:32] fajansen commented on #119
Closed with 0.2.18

[2020-04-07 07:32] #119 closed

[2020-04-08 07:11] clegaard opened #122 "fmi2SetupExperiment is no longer being called for CS"
It appears that fmi2SetupExperiment is no longer being called before fmi2EnterInitializationMode, which was previously the case.

This appears to have happened in version 0.2.18:
https://github.com/CATIA-Systems/FMPy/blob/bc6f9243dc1ec7fe1ac4890cc44816a050e1496d/fmpy/simulation.py#L914-L921

The standard specifies this function must be called before fmi2EnterIntilizationMode (2.1.16, p.22) :
[code

[2020-04-08 08:28] t-sommer commented on #122
@clegaard, can you check if dc6d01ba5787b4f3863750afa7d8490ba4be928c works for you?

[2020-04-08 09:12] clegaard commented on #122
@t-sommer it seems like the changes did the trick.
Thank you for resolving the issue so quickly :)

[2020-04-08 09:52] #122 closed

[2020-04-08 12:16] t-sommer commented on #110
A workaround exist now in `v0.2.18` with `instantiate_fmu()` and keeping the FMU instance. Please reopen if you've found the root cause for the segmentation fault.

[2020-04-08 12:16] #110 closed

[2020-04-08 12:36] t-sommer commented on #121
@fajansen, does bbe567567747711fca5dc3a36a441abee424bdeb work for you?

[2020-04-08 12:51] fajansen commented on #121
Looks good :)

[2020-04-08 22:17] #121 closed

[2020-04-08 22:29] #120 closed

[2020-04-08 22:33] #112 closed

[2020-04-14 15:27] fajansen opened #123 "Remoting: Add binary folder to DLL search path in server.exe"

[2020-04-14 20:03] t-sommer commented on #123
@fajansen, can you give 30cd3fe637eacfe7508a113f698b88aaf8ad3cf2 a try?

[2020-04-15 07:53] fajansen commented on #123
That works!

[2020-04-15 07:53] #123 closed

[2020-04-16 07:03] fajansen opened #124 "Reorganize Menu: Move things from "Help" to "Tools""
In the "Help" menu there are now many things that are not help about fmpy, but handy tools.
I would propose to make a new menu "Tools" and move the following entries there:
Compile Platform Binary
Create CMake Project
Add 32-bit Remoting

[2020-04-16 09:17] t-sommer opened #125 "32-bit remoting fails to get/set Integers and Booleans"
as reported by @chrbertsch

[2020-04-16 09:20] #125 closed

[2020-04-16 10:29] chrbertsch commented on #125
Works fine, thanks!

[2020-04-16 10:32] chrbertsch opened #126 "Add 32bit remoting to FMU fails when documentation folder already present"
![grafik](https://user-images.githubusercontent.com/16363372/79446273-42e51c80-7fde-11ea-9cf2-2b8a7598e1a0.png) ![grafik](https://user-images.githubusercontent.com/16363372/79446304-4d9fb180-7fde-11ea-8722-98c138f8928e.png)

[2020-04-17 22:39] #124 closed

[2020-04-17 22:47] #126 closed

[2020-04-23 14:00] chrbertsch opened #127 "Add CS type implementiation with internal variable step solver to ME FMU"
It would be great  to add an CS implementation to a ME FMU.
Use case: Add a variable step solver to an FMU from a tool, that cannot export stand-alone  FMUs with a variable step solver, like MATLAB/Simulink.
Would solve also https://github.com/CATIA-Systems/FMIKit-Simulink/issues/4
The variable step solver could be CVODE from the Sundials solver suite, the realization could be similar to the remti

[2020-04-27 09:39] fajansen opened #128 "Mention fmpy.gui in usage hints"
When calling "python -m fmpy" the usage hints should mention the gui.

[2020-04-27 09:40] fajansen opened #129 "Create CMake project from command line"
Provide a way to create a CMake project for a specific FMU from the command line, without using the GUI.

[2020-04-28 10:21] chrbertsch opened #130 "Uptate hint in release notes of fmpy 0.2.10 w.r.t. to availability on conda-forge for win64"
at least for win64 fmpy is available on conda-forge https://anaconda.org/conda-forge/fmpy but fmpy-base is not https://anaconda.org/conda-forge/fmpy-base

[2020-04-29 10:07] chrbertsch opened #131 "Associaiton of gui with *.fmu files does not work"
I had previously the used this feature of for fmpy being the default application to open FMUs (with fmpy 0.2.17 from an Anaconda virtual environment)

Now with  fmpy  (0.2.19, installed in a different  Anaconda virtual environment) I invoked "Associaition with *.fmu" again. But now it does not work; double-clicking on an FMU file shows no reaction.

Could this be a problem with the activation of v

[2020-05-02 08:27] christiankral opened #132 "fmpy.gui does not allow setting of tolerance under Python3"
I installed FMPy under Python2 and Python3 on my Linux Mint 19 machine. Even though the Python2 version works just fine, the Python3 version does not allow to set the tolerance in the GUI. I tested this behavior with the same Linux FMU `Rectifier.fmu`.

Python2 settings obtained by `python -m fmpy.gui`

![image](https://user-images.githubusercontent.com/4184218/80858999-c436e300-8c5d-11ea-9f51-a41

[2020-05-02 22:07] t-sommer commented on #132
@christiankral, can you reproduce this problem with the latest version of FMPy?

[2020-05-02 22:13] t-sommer opened #133 "Use tolerance of DefaultExperiment as Relative Tolerance in GUI"

[2020-05-03 09:35] #133 closed

[2020-05-04 07:52] christiankral commented on #132
I checked the installed version:

[code]

and started `$> python3 -m fmpy.gui`

![image](https://user-images.githubusercontent.com/4184218/80943675-0d1aa300-8de8-11ea-8501-85078db4a36b.png)

OK, why version 2.10? After half an hour of fiddling around with uninstalling, installing and upgrading packages it is now OK.

![image](https://user-images.githubusercontent.com/4184218/80945619-78ff0a80-8dec

[2020-05-04 07:52] #132 closed

[2020-05-09 19:28] AHaumer opened #136 "Add a hint how to update to new version"
I'm using FMPy-GUI to let students simulate FMUs - great tool.
I'd like to propose an enhancement to documentation:
How to update FMPy to a new version?
My students might not be familiar with python (me too), so this is not obvious to us.

[2020-05-09 19:32] AHaumer opened #137 "Save trajectories as csv?"
I'd like to propose an enhancement: Would it be possible to save trajectories as csv?

[2020-05-11 09:07] t-sommer commented on #137
This is already supported:

### GUI:

`File > Save Result`

### CLI:

`fmpy simulate MyModel.fmu --output-file MyModel_out.csv`

### Python:

[code]

[2020-05-11 09:07] #137 closed

[2020-05-11 09:12] t-sommer opened #138 "File > Save Plotted Result fails"
with the following error "Failed to write ... no field of name"

[2020-05-11 15:17] AHaumer commented on #137
Thanks for the hint - I didn't figure that out.
But I don't want to save ALL results - only plotted - this gives an error (#138).
Looking forward to the bugfix ...
Once again: great tool!

[2020-05-12 14:12] #138 closed

[2020-05-13 19:02] t-sommer opened #139 "Raise an exception when an FMI function is missing in the shared library"
instead of "TypeError: 'NoneType' object is not callable"

[2020-05-15 13:45] Claire-Eleutheriane opened #140 "Instantiation creates segfault"
While trying FMPy 0.2.19, I found out that FMUs produced by OpenModelica are not standard-conform (the UnitDefinition part of the .xml does not exist).
FMPy raises an error in instantiation due to this.
I circumvented the error by editing the FMPy code so that only warnings are printed.
I can thus instantiate my FMU without trouble but... I get a segfault after one simulation!
Please find attached

[2020-05-16 20:24] t-sommer commented on #140
Does this FMU run in any other tool?

[2020-05-18 11:44] Claire-Eleutheriane commented on #140
Yes, it does with FMPy 0.2.17 ( segfaults only happen after 1024 runs).

De : Torsten Sommer <notifications@github.com>
Envoyé : samedi 16 mai 2020 22:24:31
À : CATIA-Systems/FMPy
Cc : Claire-Eleutheriane Gerrer | Phimeca; Author
Objet : Re: [CATIA-Systems/FMPy] Instantiation creates segfault (#140)
 

Does this FMU run in any other tool?
—
You are receiving this because you authored the thread.
R

[2020-05-18 14:33] t-sommer commented on #140
@Claire-Eleutheriane, have you tried to re-use the FMU instance? See [efficient_loops.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/efficient_loops.py) for an example.

[2020-05-18 14:48] Claire-Eleutheriane commented on #140
Yes. I initiate before the loop. In the loop, I apply fmu_instance.reset() and simulate_fmu(unzipdir, fmu_instance=fmu_instance).

I bet the segfault happens due to fmu_instance.reset().

If I place the reset before the simulate_fmu command, 0 simulation is performed.
If I place it after the simulate_fmu command, 1 simulation is performed.

De : Torsten Sommer <notifications@github.com>
Envoyé : l

[2020-05-18 17:09] AHaumer commented on #138
Just installed the latest version, still receiving the same error message when using "Save Plotted Result":
"Failed to write xxx, no field of name".

[2020-05-19 07:15] t-sommer commented on #138
To use features that have not been released yet, you have to install FMPy from the `develop` branch:

[code]

[2020-05-26 09:32] dieggar opened #141 "Time Event Detection"
Thanks in advance for the support. Sorry if this is not the forum to ask this question.

I would like to know how does the time event detections work in FMPY for Model Exchange. Debugging my project, I have realised that if I plan the following time event, for example, at 2.5 seconds (using fmi2eventInfo struct in fmi2NewDiscreteStates function), the integration does not directly integ to this tim

[2020-05-26 13:13] GaneshShenoy opened #142 "ModelDesciption verification issue with ScheduledCoSimulation"
I was trying to debug the clock https://github.com/modelica/Reference-FMUs/tree/master/Clocks with develop branch of FMpy using gui, i get the below message.

Failed to load D:/playground/modelica/Reference-FMUs/fmi30_86/dist/Clocks.fmu. Variable "inClock1" (line 14) has an illegal combination of causality="input" and variability="clock".

[2020-05-26 23:03] t-sommer commented on #141
The step size is determined by the solver, so what you describe is the expected behaviour.
However fmi2EnterEventMode is called by FMPy (not the solver).

[2020-05-27 09:22] t-sommer commented on #141
If you want to reduce intermediate solver steps you can set `output_interval == stop_time` in `simulate_fmu()`.

[2020-05-27 09:22] #141 closed

[2020-05-27 09:30] githubfrond opened #143 "doStep equivalent for ME FMU"
Great library and setup, really getting alot out of using it. Thanks for creating.
My 'issue' is not really a problem with the package, and I'm not yet knowledgeable enough to suggest it as a 'feature' request.

There is no obvious doStep equivalent for the ME FMU, so I am having to dissect the library to make one, or write an inefficient iterator around simulate_fmu.  I hope I haven't missed anyt

[2020-06-03 08:34] #127 closed

[2020-06-03 08:39] t-sommer commented on #143
@githubfrond, can you describe your use case, maybe with some example code? If you want to interact with the FMU after every step, you can use the [`step_finished()`](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L449) callback.

[2020-06-03 09:21] #129 closed

[2020-06-03 10:16] #139 closed

[2020-06-09 06:29] lochel commented on #113
This was a problem with the OpenModelica FMUs which we finally fixed. Please checkout the upcoming 1.16 release or a nightly build if you are interested in OpenModelica FMUs.

[2020-06-09 09:24] andre2007 opened #144 "[Enhancement] FMPy core build as C library"
It would be highly interesting if the core of FMPy would be written as C library with a thin python layer on top. The python package `FMPy` would profit due to better performance. For the `FMPy` python user base nothing would change from a usability / interface perspective.

But the major impact would be, that every programming language, able to call a C library, now would have access to your grea

[2020-06-09 09:45] t-sommer commented on #144
Take a look at [PyFMY](https://github.com/modelon-community/PyFMI). They're doing exactly that.

How?

FMI _is_ a C interface. What would be the point of wrapping it in another C interface?

[2020-06-09 11:00] andre2007 commented on #144
In your python code where you have while loops containing complex coding, you would gain some speed, like here: https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L938-L953

While FMI has a C interface the functions are quite low level. You need a deep knowledge how they interact with each other. It is quite impossible to find an example.
On the other hand you wrote a library wit

[2020-06-09 13:36] t-sommer commented on #144
FMPy is (and will remain) a Python library that is tightly integrated with Python (ctypes) and popular libraries (e.g. NumPy). It intentionally uses as little native code as possible to provide maximum flexibility for prototyping and customization.

There are plenty of FMI libraries for other languages (see e.g. https://github.com/traversaro/awesome-fmi).

[2020-06-09 13:36] #144 closed

[2020-06-10 19:51] hyumo opened #145 "terminateSimulation event is ignored"
It seems that `terminateSimulation` event from an ME FMU is ignored. The simulation is not terminated when such event happens.

https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L852

https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L894

Or should I use `step_finished` instead?

sorry for multiple edits to this PR.

[2020-06-11 14:14] #145 closed

[2020-06-15 16:54] t-sommer commented on #131
@chrbertsch, can you give 964280f1085d9d524c233609d67875e7b052a7f0 a try?

[2020-06-15 18:20] chrbertsch commented on #131
works like a charm 👍

[2020-06-15 19:33] #131 closed

[2020-06-16 12:53] AnHeuermann opened #146 "Missing dependency to module scipy on Ubuntu Focal docker image"
# Missing dependency to module scipy on Ubuntu 20.04 TLS Focal Fossa
I created a Docker image based on Ubuntu focal with FMPy and some additional test dependencies for fmi-cross-check.

I foloowed the [install instructions](https://github.com/CATIA-Systems/FMPy#installation) to installed PyFMI during `docker build` with
[code]
# Problem
When running the vendor verification for fmi-cross-check (see

[2020-06-17 08:58] #146 closed

[2020-06-17 13:54] filip-jezek opened #147 "Fmu crashes the python interpreter on freelibrary"
I have certain FMU2 CS generated from Dymola 2021, which does strangely break the anaconda python runtime. Tested in jupyter {kills the kernel) and running as separate python module in anaconda prompt (ends prematurely without any exception or error code).

After some investigation, I found the break point to be self.freeLibrary() in freeInstance method of fmi2.py

Strange enough, when stepping th

[2020-06-17 14:00] t-sommer commented on #147
As a quick workaround you could simply monkey patch the FMU instance and replace freeInstance() with a noop.

[2020-06-17 15:03] filip-jezek commented on #147
Thanks for the workaround. Do you think that having hundreds of dangling instances of the same class would cause troubles? I need to call all this via external batch, so I cannot really reuse the instance.

Thanks!

[2020-06-17 15:06] t-sommer commented on #147
With the "efficient_loops" approach it would only be one instance that is being re-used for each run, so I would not expect it to cause a lot of problems.

[2020-06-17 15:08] t-sommer commented on #147
I have forwarded the issue to @karlwernersson of the Dymola team, so they can fix the problem in the FMU export.

[2020-06-17 19:56] filip-jezek commented on #147
Well, I am familiar with the efficient loops example, but when the script is called from an outside command-line caller (GenOpt optimization) a hundred times, the instance could not be reused (or could it? How?)

Strangely, when running from fmpy.gui, the FMU is simulated (and apparently also released) correctly. So I am unsure if it really is a Dymola's problem.

In searching for workaround I fou

[2020-06-18 13:01] filip-jezek opened #148 "Simulating FMU crashes the python interpreter on FMU.terminate()"
Probably related to #147 but slightly different and now a blocker. Happens for some FMUs only.

Same as before, it results in crash of python interpreter before results are handed from fmpy.simulate_fmu for certain FMU2 CS exported from Dymola 2021

When stepping through, all FMI steps are taken, but at fmu.terminate() the execution suddenly stops.

Code to reproduce: https://gist.github.com/filip

[2020-06-18 13:05] filip-jezek commented on #148
FMPy.gui does simulate this particular FMU correctly, however on pressing the square stop button it crashes as well.

[2020-06-22 09:22] t-sommer commented on #148
@KarlWernersson, can you take a look at this?

[2020-06-22 09:28] t-sommer commented on #148
@filip-jezek, to nail down the problem, can you try to export the model with another solver (e.g. CVode) and another version of Dymola?

[2020-06-23 08:01] Tony607 opened #149 "CVode stalling"
Hi,
Thank you for your work on FMPy. I have been able to use FMPy to simulate several model exchange FMUs, however given one FMU and inputs, CVode stalls around a specific time point where the step size becomes very small and unable to get out of the time point.
If you force to stop the program it prints,
[code]
- FMPy version: 0.2.19
- Python version:  3.6.7
- OS: Linux64

To reproduce the issue,

[2020-06-23 10:38] t-sommer commented on #149
I assume this is because Assimulo uses different default settings for CVode (see https://github.com/modelon-community/Assimulo/blob/master/src/solvers/sundials.pyx#L1469). Do you have a suggestions which parameter might make a difference here?

[2020-06-23 15:18] filip-jezek commented on #148
The issue arises with CVODE solver, but now I have tested export with Dymola solvers with same behavior. The model was not simulating in previous Dymola in CVODE at all, so I cannot reproduce there.

Here I save-totalled the modelica sources for you: https://gist.github.com/filip-jezek/66f36062c70b0f2225cbe4eefa8ec01f

Thank you for any help!
F/

[2020-06-23 15:51] t-sommer opened #150 "Extrapolate inputs in get_z() callback function"
see also #149

[2020-06-23 15:53] t-sommer commented on #149
@Tony607, can you try to export the same FMU without inputs (i.e. generate them internally) to see if #150 would solve the problem?

[2020-06-23 15:55] t-sommer opened #151 "Use Newton as default solver for CVode"
see also #149

[2020-06-24 03:40] Tony607 commented on #149
@t-sommer Thanks for the quick replay. As you expected, exporting the same FMU without inputs (i.e. generate them internally) solves the stalling issue.

Attached the newly exported FMU as well as the test scripts for both FMPy and PyFMI.

[FMpy_stall_issue_interal_inputs.zip](https://github.com/CATIA-Systems/FMPy/files/4822819/FMpy_stall_issue_interal_inputs.zip)

Simulating the FMU with external

[2020-06-24 08:13] Tony607 commented on #149
I also found by changing this line https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/simulation.py#L821 from
[code]
to
[code]
also solves the stalling problem for FMU with external inputs. But there might be a better way to solve the problem.

Best

[2020-06-24 12:32] t-sommer commented on #149
@Tony607, can you give 79d01cc7b8020a54be3adc559b5b051c2338605f at try?

Note that the binaries are not included in the repo any more, so you have to build them yourself or install[ a development build](https://github.com/CATIA-Systems/FMPy/blob/150-extrapolate-inputs/docs/faq.md#how-do-i-install-a-development-build).

[2020-06-24 14:07] Tony607 commented on #149
Worked like a charm, thanks for your hard work!

[2020-06-24 14:07] #149 closed

[2020-06-26 10:15] trulede opened #152 "fmi3.py missing several getIntXX and setIntXX functions"
Hey, fmi3.py does not have a full set of get/set functions for the various FMI Types.
https://github.com/CATIA-Systems/FMPy/blob/3841175f6c08710b723d3628379eb2e3a20a5acf/fmpy/fmi3.py#L127

Is there a reason for that? Or would you like a PR including those?

[2020-06-27 20:21] #152 closed

[2020-06-27 20:23] #150 closed

[2020-06-29 21:47] t-sommer opened #153 "Create desktop shortcut fails"
with

[code]

[2020-06-29 22:04] t-sommer opened #154 "Simulation of Model Exchange FMU fails with 32-bit remoting"
[code]

[2020-06-30 11:51] AnHeuermann opened #155 "Question: Output all variables"
Is it possible to output all variables to the result file?

Without ` --output-variables` set only variables with causality output will be saved. Of course I can simply add all variables to my call:
[code]
But that is a bit inconvenient when there are a lot of variables.

[2020-06-30 12:01] t-sommer commented on #155
To save the trajectories of all variables to a CSV file you can simulate your FMU in the FMPy GUI and select `File > Save Result...`.

[2020-06-30 12:04] AnHeuermann commented on #155
Is it possible to do from the shell as well? I want to use it inside some script to verify our FMUs for fmi-cross-check before running `python -m fmpy.cross_check.validate_vendor_repo --clean-up` on everything.

[2020-06-30 15:02] #154 closed

[2020-06-30 15:39] t-sommer commented on #155
This should do what you want:

[code]

Save it as `log_variables.py` and run it with

[code]

[2020-06-30 16:11] #153 closed

[2020-07-14 08:27] #155 closed

[2020-07-29 14:16] t-sommer opened #156 "Add dynamic validation of FMUs"
- load all API functions
- get directional derivatives
- handling of illegal VRs, min / max values
- get / set state

[2020-07-29 14:43] masoud-najafi commented on #156
A minimal test on  fmi2SetDebugLogging

[2020-07-29 16:46] nickbattle commented on #156
Many thanks for the FMPy walkthrough today.

I was particularly interested to see how you did the XML validation (and perhaps how you could do dynamic API validation), comparing this to our own formal VDM models and the [VDMCheck](https://github.com/INTO-CPS-Association/FMI-VDM-Model) tool.

But it sounds like we are trying to do different things. FMPy is taking a pragmatic view and validating asp

[2020-07-29 19:08] Maplesoft-fmigroup opened #157 "FMPy.gui clear simulation settings"
The simulation settings (such as "Apply default start values" or "Input") should go back to 'default' values when a new .fmu is opened.  Currently, if you open a new FMU it runs with the settings used in a previous model.

[2020-07-29 19:40] t-sommer commented on #157
As a workaround you can open the other FMU in a new Window `File > New Window`or `CRTL+SHIFT+N`.

[2020-07-30 05:40] hewsond commented on #143
Hi, I have a similar usecase in mind and am also currently trying to follow through the simulateME function. For my usecase it probably might be the case that it just makes sense to write a besboke sim function.

The usecase is as follows, we would like to run FMUs in a psuedoparallel fashion. Now obviously there are huge constraints about the algebraic loops and relations between the variables. I

[2020-08-03 12:01] t-sommer commented on #143
@hewsond, for your usecase (a master algorithm with multiple connected Model Exchange FMUs) you're probably better off writing your own simulation loop. Also keep in mind that running multiple FMUs in the same process using multithreading proved problematic with a lot of models.

[2020-08-03 12:04] #143 closed

[2020-08-03 13:39] iscopa opened #158 "Implement "Co-Simulation" FMUs for FMI 3.0"

[2020-08-04 13:24] glantzsch opened #159 "fmi-logging failed with an FMI3.0 FMU CoSimulation in FMPy 0.2.22"
Simulating the attached FMU3.0 CS with parameter --fmi-logging lead to the error
"TypeError: 'NoneType' object is not iterable"
in the instanziate() call.

The logging of the later call doStep() could also produce the error
"IndexError: tuple index out of range".
Maybe some parameter could be have a wrong evaluation in the _log_fmi_args() function.

The simulation without --fmi-logging works fine.

[2020-08-04 14:11] #159 closed

[2020-08-07 07:57] t-sommer opened #160 "Remoting test fails for Model Exchange"
see https://dev.azure.com/CATIA-Systems/FMPy/_build/results?buildId=615&view=ms.vss-test-web.build-test-results-tab&runId=3606&resultId=100034&paneView=debug

[code]

[2020-08-07 08:27] #160 closed

[2020-08-09 14:01] tinrabuzin opened #161 "Access violation"

[2020-08-09 14:02] #161 closed

[2020-08-09 14:04] tinrabuzin opened #162 "Access violation"
Hi,

I was trying to do a parameter sweep with an FMU generated from OpenModelica (2.0 both me and cs) but whenever I reset the fmu I get the following error:

`Traceback (most recent call last):
  File "c:/Users/trabu/Documents/dev/dyneq_pf/examples/other/generate_fmu.py", line 24, in <module>
    res = model.simulate(experiment_settings)
  File ".\dyneq\models.py", line 74, in simulate
    valid

[2020-08-10 20:58] t-sommer commented on #162
Can you share some code to reproduce the problem?

[2020-08-10 21:08] t-sommer commented on #156
Not at all. It just defines the order in which I implement the checks. I see VDMCheck (and other tools) as complementary. The more tools we have the better. I'll be happy to get back to you ;-)

[2020-08-10 21:12] t-sommer commented on #156
These check are quite expensive if you perform them every time. I think the calling sequence of an importer (like FMPy itself) is better checked with the Reference FMUs.

[2020-08-10 21:16] nickbattle commented on #156
Yes, of course. But the formal model is trying to define what the rules are, rather than producing something that is efficient.

[2020-08-11 07:38] tinrabuzin commented on #162
For instance, the code below generates the same exception.

[code]

[2020-08-11 12:20] t-sommer commented on #162
This seems to be a bug in the FMU's `fmi2Reset()` function.
Please report this issue to https://github.com/OpenModelica/OpenModelica.

[2020-08-11 12:20] #162 closed

[2020-08-12 13:47] h-bode opened #163 "Changing parameters does not affect the simulation results"
Is it not possible to change parameters of a model, like the resistance of a resistor?

I build an easy model in OpenModelica:

![model_fmpy](https://user-images.githubusercontent.com/63717517/90021365-6e88c280-dcb1-11ea-949d-59dc89e9edd5.png)

Afterwards, i created an FMU out of it
[code]

Then i simulated the model with following python code (based on the example simulate custom input).

[code]

[2020-08-12 13:58] h-bode commented on #163
The interesting lines in the python code might be the following:

[code]

[2020-08-13 07:43] t-sommer commented on #163
If you start fresh I would recommend to base your code on [examples/efficient_loops.py](https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/efficient_loops.py) and use [instantiate_fmu()](https://github.com/CATIA-Systems/FMPy/blob/a79cf68f02b1df58cf196e1ac25497652ba6bd3a/fmpy/simulation.py#L588) instead of calling the constructor directly. It also lets you set `fmi_call_logger=print` t

[2020-08-13 11:09] h-bode commented on #163
Thanks for this hint, i think this will help for my general programming :-)

But for setting the parameters (like the resistance of a resistor), that does not help. I can say for sure `that fmi2SetReal()` is called, since the value of the resistor `params = fmu.getReal([vr_param])` changes (orange line in the plot).

But the change of the resistor does not affect the simulation. The current throug

[2020-08-17 13:44] t-sommer commented on #163
This seems to be a problem with the FMU.
Please report this issue to https://github.com/OpenModelica/OpenModelica.

[2020-08-17 13:44] #163 closed

[2020-08-24 14:25] manasdas17 opened #164 "Support for Simulink FMU by FMIKit"
Hi,
Does FMPy support the simulation of Simulink generated FMUs by FMIKit (2.7)?

Regards,
Manas

[2020-08-24 16:26] t-sommer commented on #164
Yes.

[2020-08-24 16:26] #164 closed

[2020-08-25 19:07] t-sommer commented on #142
FMPy has no support for Scheduled Execution FMUs at the moment. I'll leave this issue open as a reminder.

[2020-08-27 14:46] trinamic-sw opened #165 "CMake project does not contain link arguments"
The CMakeLists seems to be unaware of library flags. For example, the attached fmu, generated by openmodelica, links to openblas. Building the fmu binary with cmake works, but the simulation terminates with the following error:

`OSError: /tmp/tmp2mtvdb3t/binaries/linux64/simexample.so: undefined symbol: dgesv_`

The problem does not occur when openblas is manually added to the cmake file via targ

[2020-08-27 14:54] clagms commented on #156
This is a very good initiative @t-sommer !

Maybe I misunderstood the goal. Isn't the goal to define dynamic check that can be turned on optionally? Or some kind of testing framework that loads an FMU and runs all the checks?
If that's the case, then performance is not such a big deal (unless certain really long co-simulations crash and you need to rerun them with all checks enabled to see if it w

[2020-08-27 18:51] t-sommer commented on #165
With FMI 2.0 it is currently not possible to provide this information to importers (like FMPy). FMI 3.0 will introduce [build configurations](https://fmi-standard.org/docs/3.0-dev/#_library) that allow the exporter to communicate this type of dependency.

[2020-08-27 18:51] #165 closed

[2020-09-02 11:29] lmikelsons opened #166 "Calling getContinuousStates as get/setReal"
In the argument list of getContinuousStates one has to use ctypes currently. Making it callable as get/set Real (by Python pure) would be great for teaching purposes.

[2020-09-02 12:41] t-sommer commented on #166
@lmikelsons, can you share a code snippet of how you're currently using / intent to use get/setContinuousStates()?

[2020-09-02 14:25] lmikelsons commented on #166
Hi Torsten,

thanks for the quick answer!

My inention was to write a Jypyter Notebook with a simple forward euler
simulation loop (without Event Handling and all the other overhead) in
order to show FMI functionality and how to handle models with FMI (the
focus is not the simulation itself since it's for an optimization
lecture). Then I recognized that calling get/setContinuousStates() is
only po

[2020-09-02 15:22] lmikelsons commented on #166
My inention was to write a Jypyter Notebook with a simple forward euler simulation loop (without Event Handling and all the other overhead) in order to show FMI functionality and how to handle models with FMI (the focus is not the simulation itself since it's for an optimization lecture). Then I recognized that calling get/setContinuousStates() is only possible as it is implemented in forward eule

[2020-09-02 16:37] t-sommer commented on #166
Can you share the link to this snippet?

[2020-09-03 12:06] lmikelsons commented on #166
[snippet.txt](https://github.com/CATIA-Systems/FMPy/files/5168342/snippet.txt)

[2020-09-03 16:22] sentient-jgallegocalderon opened #167 "[ERROR] GUID of model is not correct"
Hi,

When trying to simulate an FMU, I get the following error: `[ERROR] GUID of model is not correct`. Note the this works on my machine (MAC) and the error happens in a windows machine. We try removing the binaries for debian and matching the FMPy versions (0.2.17) but had no luck. This is the Traceback corresponding to FMPy:

`File "C:\Python37\lib\site-packages\fmpy\simulation.py", line 565, i

[2020-09-03 19:08] t-sommer commented on #167
Can you share the model that causes the problem?

[2020-09-13 19:50] SenHuang19 opened #168 "start_values doesn't work"
I tried to use the simulate_fmu to run a model exchange fmu with the following code but found the start_times seems to be not working:

`filename="./fmu/wrapped.fmu"`
`result = simulate_fmu(`
`         filename = filename,`
`        start_time=0,`
`        stop_time=1,`
`        output= ['mod.cap.T'],`
`        start_values={'mod.cap.T': 283.15})`

The result is shown as below:

 (1.13629293e-07,

[2020-09-13 21:30] t-sommer commented on #168
Can you share the FMU?

[2020-09-14 04:14] SenHuang19 commented on #168
Sure.
[wrapped.zip](https://github.com/CATIA-Systems/FMPy/files/5216071/wrapped.zip)

[2020-09-14 08:30] t-sommer commented on #168
If I simulate with `simulate_fmu(..., fmi_call_logger=print)` I get

[code]

so the variable is being set correctly. Note however that `mod.cap.T` is a local variable, so setting it might not have the desired effect. You could try to expose it as a parameter.

[2020-09-14 08:30] #168 closed

[2020-09-15 15:17] t-sommer opened #169 "Add Plotly as an alternative matplotlib to plot_result()"

[2020-09-17 11:32] t-sommer opened #170 "Display units and convert signals to display units in plot_result()"
See also https://stackoverflow.com/questions/61150900/how-to-handle-unit-conversions-while-interacting-with-fmus

[2020-09-24 07:10] manasdas17 opened #171 "OpenModelica FMUs failed to load"
Co-simulation FMU from OpenModelica has some issues in FMPy. The erroe shown as **Failed to load the FMU as the unit "V" of variable "C1.vinternal" (line 181) is not defined**

[2020-09-24 08:47] t-sommer commented on #171
This is a duplicate of #113.

[2020-09-24 08:47] #171 closed

[2020-09-24 18:45] trulede commented on #156
I use FMPy for running FMUs. Its great. Already when you include the dependencies (e.g. numpy) FMPy is becoming a fairly large package. Having a validator is nice, however having it as a separate Package or SubPackage, so I don't need to install it ... would be even nicer.

It's only necessary to validate an FMU once, and that can be done in a separate workflow to actually running FMUs with FMPy.

[2020-09-24 20:37] t-sommer commented on #156
We're currently testing an online version of the FMU Check on https://fmi-standard.org/fmu-check/ that's powered by FMPy. Maybe this could also be an option if you don't want to install FMPy locally.

[2020-09-24 21:18] trulede commented on #156
Thanks. I install FMPy into a Docker image and actually only use only the FMI classes. I've been looking though the code and think it could be possible to define some kind of minimal or core sub-package with only the FMI related code. It's a bit tricky with some code in the __init__.py, but if there is a way to do it and not affect the rest of the code base ... could be nice.

[2020-09-25 08:41] t-sommer commented on #156
@trulede, you might want to have a look at the discussion in https://github.com/conda-forge/fmpy-feedstock/issues/11

[2020-09-25 10:27] KarlWernersson commented on #148
Hi Filip sorry for the delay.
Is it possible that you generated your model with Advanced.SparseActivate = true?
I am able to reproduce the problem if this flag is activated, if not I am unable to reproduce it.

[2020-09-25 12:00] trulede commented on #156
Thanks @t-sommer I will try a few ideas out and get back to you (perhaps with a PR).

[2020-09-25 15:53] filip-jezek commented on #148
Karl, thank you for your reply, even a late one :) 

Yes, I am using this option to speed up the models a bit - it drops the simulation time by about 25%. The speed up is not as crucial, but it is nice to have, especially when the runtime of our models is about minute and we need to run a complex optimization tasks.

Its great to know that there is a workaround, but still, do you see it possible t

[2020-09-27 08:37] KarlWernersson commented on #148
Hi Filip, I am currently investigating the issue and will correct it for Dymola 2021 release.
Is that sufficient for you or do you need a fix pack for Dymola 2020x?
/Kalle

[2020-09-28 16:32] trulede opened #173 "Include source code in distributions"
Would it be possible to package the source code with distributions? Something like:

`python setup.py sdist --formats=gztar,zip
`

This is to allow building/installing the FMPy package with specific compiler options.  Currently, if you try to do pip install --compile, then pip is downloading an older version of FMPy (0.0.9 IIRC).

[2020-09-28 17:10] t-sommer commented on #173
The build process is fairly complex (see https://github.com/CATIA-Systems/FMPy/blob/master/azure-pipelines.yml for details).
What compiler options do you want to change?

[2020-09-28 20:21] filip-jezek commented on #148
Karl, I do not need it at the moment, as I had to take a different route, but can I contact you when the need arises, if its before 2022 release?

[2020-09-28 20:23] t-sommer commented on #148
I'm closing this issue, as it's not related to FMPy.

[2020-09-28 20:23] #148 closed

[2020-09-28 20:24] #167 closed

[2020-09-28 20:26] t-sommer commented on #147
@filip-jezek, can we close this issue?

[2020-09-28 20:35] filip-jezek commented on #147
I think its basically the same issue. For future readers, the bug is related to Dymola CVODE export and should be resolved in 2022 version. It has been suggested elsewhere not to use Advanced.SparseActivate=true for Dymola CVODE translation.

Closing.

[2020-09-28 20:35] #147 closed

[2020-09-29 10:27] jbernalr opened #175 "Display Value References in GUI"
As a suggestion: As we use the FMPy GUI for debugging as well, it would be quite good to have the value references displayed in a column along the parameter names, initial values etc.

[2020-09-29 11:21] t-sommer commented on #175
To display the value references in the GUI right-click on a variable and select `Columns > Value Reference`. You can also copy the value references and names of all selected variables by selecting `Copy Value Reference` or `Copy Variable Name`.

![Unbenannt](https://user-images.githubusercontent.com/2453858/94552087-a397a700-0256-11eb-8642-f40a857c2ae0.PNG)

[2020-09-29 11:21] #175 closed

[2020-09-29 11:48] #136 closed

[2020-09-29 11:51] t-sommer commented on #142
Fixed with 18aae741b28dd913c58ac10c2906376d547185f9

[2020-09-29 11:51] #142 closed

[2020-09-29 11:52] #173 closed

[2020-09-29 11:57] t-sommer commented on #140
This seems to be a problem with the FMU. Please open an issue on https://github.com/OpenModelica/OpenModelica.

[2020-09-29 11:57] #140 closed

[2020-10-06 08:33] pamagister opened #176 "Simulation Loop: Identical order of callbacks in CS and ME"
**Description of the usecase**
Currently we are working on the implementation of the feature to stimulate input signals with time courses.

We noticed a possible difference in the processing order of recorder.sample, input.apply, doStep and time.increment between simulateME and simulateCS. According to our observation the difference is especially in the time when the reference time is incremented

[2020-10-06 08:38] t-sommer commented on #176
It seems like this is a duplicate of #89.

[2020-10-06 08:42] t-sommer commented on #176
FMI 3.0 Co-Simulation will support events, so there will be direct feed-through at least for discrete signals (like in your example above).

[2020-10-09 07:45] t-sommer opened #177 "Allow start values with units and display units"
to provide unit safety and allow convenient conversion from display units defined in the XML.

Example:

[code]

[2020-10-09 10:48] julienlmet opened #178 "Is it possible to save the model after initialization?"
I'm currently working with a model whose simulation lasts about 240seconds. It could be great if this simulation was quicker since I've to run it hundreds of times. The only difference between the simulations I have to run are the inputs that I inject.

The specificity here is that I'm not running all my simulations at the same time because I get the inputs that I want to inject in my model at a f

[2020-10-09 12:57] t-sommer commented on #178
You can serialize / deserialize the FMU state if the FMU supports it ( `canGetAndSetFMUstate="true"`). Take a look at  https://github.com/CATIA-Systems/FMPy/blob/master/tests/test_serialize_fmu_state.py for an example.

[2020-10-09 12:57] #178 closed

[2020-10-13 13:38] t-sommer commented on #176
@pamagister, @fajansen, can we close this issue?

[2020-10-15 09:45] pamagister commented on #176
Issue closed. Nevertheless, we will have to pursue an internal solution for the time offset of stimulated signals and the response of directly dependent output signals.

[2020-10-15 09:45] #176 closed

[2020-10-17 13:45] krzysztofarendt opened #179 ""[WARNING] fmi2DoStep: currentCommunicationPoint" warnings when start_time > 0 (Windows only)"
Hello, I am about to replace PyFMI with FMPy in [modest-py](https://github.com/sdu-cfei/modest-py). It works great, so thanks for this package!

I noticed one issue so far - when I simulate an FMU with `start_time > 0`, as in [this example](https://github.com/sdu-cfei/modest-py/blob/issue_57_parallelize/modestpy/fmi/fmpy_warning_example.py) I get the following warnings: `[WARNING] fmi2DoStep: curr

[2020-10-18 20:09] t-sommer commented on #179
It looks like these messages are coming from `printf()`s inside the FMU. Maybe Linux re-directs stdout, so you can see them on the console. Can you share the FMU the very the behaviour?

[2020-10-18 20:12] t-sommer commented on #158
FMPy 0.2.23 implements the FMI 3.0-alpha.5 API.

[2020-10-18 20:12] #158 closed

[2020-10-18 20:16] t-sommer commented on #130
Fixed with https://github.com/conda-forge/fmpy-feedstock/commit/97f0857bd31972f39bf7ac7c17e5268a8162f275

[2020-10-18 20:16] #130 closed

[2020-10-18 20:24] krzysztofarendt commented on #179
Yes, the Windows version is here: https://github.com/sdu-cfei/modest-py/blob/issue_57_parallelize/examples/simple/resources/Simple2R1C_ic_linux64.fmu

The Linux version: https://github.com/sdu-cfei/modest-py/blob/issue_57_parallelize/examples/simple/resources/Simple2R1C_ic_linux64.fmu

Modelica model: https://github.com/sdu-cfei/modest-py/blob/issue_57_parallelize/examples/simple/resources/Simple2

[2020-10-19 08:07] t-sommer commented on #179
With

[code]

I get the following log

[code]

It seems like the FMU is not setting the start time.

@KarlWernersson, can you take a look at this?

[2020-10-19 08:12] KarlWernersson commented on #179
Hi

I will fix this issue in Dymola fmu export.
I would recommend you to contact Dymola support so it gets propely tracked.
If you want a fix pack you neet to contact us there too.

[2020-10-19 08:17] #179 closed

[2020-10-22 15:38] anki-ntnu opened #180 "Use a previous state of fmu for running a new simulation"
Hi,
I am using FMPy for running my simulations. I want to pass my first set of input data (100s long), then save the state of fmu at 100s and then pass next set of input data (100s long), and the fmu for the second input set of data should start simulation by using the state at 100s from the first input set of data.

[2020-10-22 16:18] t-sommer commented on #180
This is already possible with get/set FMUState (see https://github.com/CATIA-Systems/FMPy/issues/178#issuecomment-706165169).

[2020-10-22 16:18] #180 closed

[2020-10-23 09:06] t-sommer opened #181 "Document features being validated in FMU check"

[2020-10-26 12:07] apanys opened #182 "Using fmu_instance argument is causing exception in fmi2SetupExperiment"
Please open attached example in Visual Studio Code with extension `ms-vscode-remote.remote-containers` enabled.
Run the sample in Visual Studio Code terminal using command `python sample.py`.
[sample.zip](https://github.com/CATIA-Systems/FMPy/files/5438618/sample.zip)

[code]

Argument `fmu_instance` is used in function `simulate_fmu` to process 2 windows. On second window, exception
is thrown:

[2020-10-27 08:33] t-sommer commented on #182
This seems to be a bug in the FMU. You might want to try a newer version of Open Modelica.

[2020-10-27 09:11] anki-ntnu opened #183 "Using fmu_instance does not give correct results"
Please download test.py and run python test.py in anaconda shell (or any python terminal). FMU is built using Dymola.
[test.zip](https://github.com/CATIA-Systems/FMPy/files/5444108/test.zip)

[code]
Argument fmu_instance is used in function simulate_fmu to process 2 windows. On second window, data is processed but multiple warnings are thrown and the results from the second window are not correct.

[2020-10-27 09:28] apanys commented on #182
I just created a new FMU using latest released version of OpenModelica (1.16.0-1). Unfortunately the same error is thrown.
[parametersModel_1.16.0-1.zip](https://github.com/CATIA-Systems/FMPy/files/5444234/parametersModel_1.16.0-1.zip)

[2020-10-27 12:53] t-sommer commented on #183
In your example using `instantiate_fmu()` has no benefit and makes the code unnecessarily complex. Also make sure to free the DLL and clean up the unzip directory before you return. The following code runs without problems:

[code]

[code]

The problem with `start_time != 0` has been resolved in the latest Dymola release.

[2020-10-27 12:53] #183 closed

[2020-10-27 12:59] t-sommer commented on #182
The solution proposed in #183 should also work for this model. If you want to reuse the FMU instance you can use https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/efficient_loops.py as a starting point. Also note that you have to reset the FMU and clean up before you return.

[2020-10-27 12:59] #182 closed

[2020-10-27 14:49] anki-ntnu commented on #183
@t-sommer : The issue with this is that when starting a new window it is restarting the simulation instead of continuing the simulation for the second window. I want to preserve the state so that the simulation for window 2 starts where the simulation from window 1 finishes. That's why I used instantiate_fmu() and passed the same fmu_instance so that the stimulation proceeds instead of starting a

[2020-10-27 14:54] t-sommer commented on #183
This cannot be achieved with `simulate_fmu()`. You could write your own simulation loop. See https://github.com/CATIA-Systems/FMPy/blob/master/fmpy/examples/custom_input.py for an example.

[2020-10-27 16:36] anki-ntnu commented on #183
Great, thanks. Do you have such an example for Model exchange fmu as well by any chance @t-sommer ?

[2020-10-28 06:55] apanys commented on #183
@t-sommer
Thanks for the update. While this cannot be achieved at the moment with `simulate_fmu()` is this something you can add in a future version of FMPy?

This was exactly the scenario I tried to achieve in the sample from issue https://github.com/CATIA-Systems/FMPy/issues/182. I assume fmu_instance is exactly for that purpose.

[2020-10-28 08:39] t-sommer commented on #183
You might be able to use the `step_finished` callback for this. Can you describe your use case?

[2020-10-28 08:59] apanys commented on #183
I have a continuous stream scenario. An IOT device sends data 24*7h. My python application gets a window of data (some seconds) as parquet file. This window of data I want to process with FMPy. Then the next window of data (the next seconds) is reaching my python application and I want to process that.

[2020-10-28 13:57] t-sommer commented on #183
Please move this discussion to StackOverflow and and link it here for reference. Feel free to open a new issue if you have a concrete change proposal.

[2020-10-28 15:30] PhillipEDRDK opened #185 "Get inputs and values"
Sorry if I cannot find it, but I am lacking a feature where a list of the inputs can be pulled. I only know that the start values can be pulled which also includes the outputs without a way to tell them apart. There is also the util.fmu_info(filename, causalities) function, but it returns a long string of non essential information. Is there a get function I have overlooked?

[2020-10-28 20:45] t-sommer commented on #185
You can extract the input variables from the model description:

[code]

[2020-10-28 20:45] #185 closed

[2020-10-29 07:23] PhillipEDRDK commented on #185
Thank you!

[2020-11-03 10:20] t-sommer opened #186 "Allow x-axes other than "time" in plot_result()"

[2020-11-04 21:06] t-sommer opened #187 "Handle missing documentation and model.png in web app"
to avoid 404

[2020-11-05 15:20] StephanZiegler opened #188 "Jupyter notebook creator for FMUs has issues interpreting boolean name formats"
Generated code:

...
[code]
...

Boolean value "false" is not recognized, needs to be "False".

[2020-11-05 22:19] #188 closed

[2020-11-06 14:00] #181 closed

[2020-11-07 13:26] manasdas17 opened #189 "The combination causality ="parameter" and variability = "constant" in variable is not allowed"
I have been using FMPy ( version 0.2.25) to simulate Co-simulation FMUs, however given one FMU is throwing up error
**The combination causality ="parameter" and variability = "constant" in variable is not allowed**

Regards,
Manas

[2020-11-07 20:52] t-sommer commented on #189
Can you share the FMU?

[2020-11-08 05:02] manasdas17 commented on #189
Thanks. Please find link for the fmu.
https://drive.google.com/file/d/1d16M8QQG9IBb9yHyZemE_GmSGdJjJu8R/view?usp=sharing

[2020-11-09 10:11] t-sommer commented on #189
I can confirm that I get the following error:

[code]

@KarlWernersson, can you take a look at this?

If I simulate with validation disabled

[code]

the FMU complains about a missing file `k-4Data.txt`:

[code]

[2020-11-09 10:34] KarlWernersson commented on #189
Hi the illegal combination is an issue that can occur in Dymola 2020x when exporting FMU's with cosimulation fmu's inside.
This i fixed for Dymola 2021 which is available.

For a quick fix of the modelDescription.xml in the fmu, change the causality of the problematic parameters to local in the xml.

[2020-11-09 11:03] #189 closed

[2020-11-09 12:45] manasdas17 commented on #189
@KarlWernersson, after changing the causality of the problematic parameters to local in the modelDescription.xml file, now it gets imported to FMPy but the error "Initialization Failed" still there.
[OK] Error: Integrator failed to start model.
[ERROR] Initialization Failed.

[2020-11-09 12:50] KarlWernersson commented on #189
@manasdas17 It is better you solve those issues by contacting Dymola support.
But do you also get the errro that torsten got ([OK] [fmi2OK]:
[OK] _Janus128L_012KG_03_0EnergyInput_04_0Controller_fmu: ... loading "tab1" from "C:\Users\XXX\AppData\Local\Temp\tmpd8mls52c\resources\k-4Data.txt"

[OK] [fmi2Error]:
[OK] _Janus128L_012KG_03_0EnergyInput_04_0Controller_fmu: Error: The following error was d

[2020-11-09 13:15] manasdas17 commented on #189
@KarlWernersson , yes, i got the exact errors as torsten got even after changing as you had suggested.

[2020-11-09 13:31] t-sommer commented on #189
I can simulate the FMU if I move the files in `resources/r0/` one folder up to `resources/` where the FMU expects them.

[2020-11-09 13:33] t-sommer commented on #189
These problems are unrelated.

[2020-11-09 13:59] manasdas17 commented on #189
@t-sommer , ok. Could you please share the modified FMU that you are able to simulate? I will refer to that as i tried as per you suggested but still couldn't able to simulate.

[2020-11-09 14:01] t-sommer commented on #189
[Test.zip](https://github.com/CATIA-Systems/FMPy/files/5510947/Test.zip)

[2020-11-09 14:28] manasdas17 commented on #189
@t-sommer , it doesn't work. Got the following error
[OK] Error: Integrator failed to start model.

[ERROR] Initialization Failed
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python36\lib\site-packages\fmpy\simulation.py", line 658, in simulate_fmu
    result = simulateCS(model_description, fmu, start_time, stop_time, relative_tolerance, start_values, apply_d

[2020-11-09 14:32] t-sommer commented on #189
Please contact Dymola support. Both issues are related to the FMU export and cannot be fixed in FMPy. Thank you.

[2020-11-09 14:35] manasdas17 commented on #189
ok, Thanks a lot for the support.

[2020-11-09 18:28] chrbertsch opened #190 "Jupyter notebook creator for FMUs: Missing parameters (start values)"
For an FMU (from Dymola, will send it via email), in the Jupyiter Notebook generated with fmpy 0.2.25 there are no start value.
![grafik](https://user-images.githubusercontent.com/16363372/98581269-83312280-22c1-11eb-99d9-7ed2b9839fca.png)

However, in the web app, everything is there

![grafik](https://user-images.githubusercontent.com/16363372/98581406-ba9fcf00-22c1-11eb-9df0-185ef460fe0a.png)

[2020-11-09 22:37] #190 closed

[2020-11-10 18:19] chrbertsch opened #191 "Fix typo in Readme.md"
python -m fmpy.webapp Rectfier.fmu   -->  Rect **i** fier.fmu

[2020-11-10 18:29] chrbertsch opened #192 "Jupyter notebook creation possible from GUI but not from command line"
(with fmpy 0.2.25)

C:\home\fmi-tutorial\FMI_in_Python>fmpy create-jupyter-notebook Rectifier.fmu
usage: fmpy [-h] [--validate] [--start-time START_TIME]
            [--stop-time STOP_TIME] [--solver {Euler,CVode}]
            [--step-size STEP_SIZE] [--relative-tolerance RELATIVE_TOLERANCE]
            [--dont-record-events]
            [--start-values START_VALUES [START_VALUES ...]]

[2020-11-11 12:44] #191 closed

[2020-11-11 12:50] #192 closed

[2020-11-12 12:51] t-sommer opened #193 "Create "matryoshka" FMUs"
on behalf of @fajansen and @jbernalr

[2020-11-14 14:52] DMoog commented on #15
@t-sommer @chrbertsch I am also looking for an example in which multiple ME-FMUs are coupled. Has this been adressed? It would be much appreciated.

[2020-11-15 19:10] Kinshuk94 opened #194 "Needed some help regarding the model exchange FMU"
I want to simulate a model exchange setup with multiple FMUs I had used ssp with cosimulation earlier and it at least runs but I am unable to do the same with the model exchange. Could someone please guide me on this I am quite new to fmpy. Also I wanted to check one more thing whether the ssp can be used with the model exchange too so far it gives me an exception that the .fmu file does not suppo

[2020-11-15 21:07] t-sommer commented on #194
The SSP implementation currently supports only Co-Simulation FMUs.

[2020-11-15 21:07] #194 closed

[2020-11-16 18:49] jbernalr opened #195 "Generate binary: Link static libraries found in the sources directory"
This problem appears when using fmpy to compile a binary out of a source code fmu.
If static libraries are found in the sources, these will not be linked to the final binary, causing unknow symbol exceptions at runtime.
We have modified the command to add this libraries, but it would be nice to check or warn the user that these are present and were not linked.

[2020-11-16 20:17] t-sommer commented on #195
Can you share an example of such an FMU?

[2020-11-16 21:13] jbernalr commented on #195
I will try, but a number of targetlink fmus have this arrangement

[2020-11-19 20:46] zmladen opened #196 "Difference to pyFMI"
What is the main difference of FMpy from pyFMI?

Thanks,
Mladen

[2020-11-20 08:25] jbernalr opened #197 "Missing initial values in xml for simple blocks like constants and gains (values in workspace)"
Please see mini model sent per email: exmpl_InitParam.zip

[2020-11-20 08:29] jbernalr opened #198 "enums missing on xml (only first occurrence present)"
please see example example_enums.zip
problem: simulink.Bus-Object with elements of type ‘Simulink.IntEnumType’; Only the first occurrence of an enumeration gets translated into modelDescription.xml into section <TypeDefinitions>. All other occurences (falsely?) utilize the first declaration.
Enumerations are defined to be used in Simulink and Stateflow charts. The class definition must be in a mat

[2020-11-20 08:40] #197 closed

[2020-11-20 08:40] #198 closed

[2020-11-20 11:00] iscopa opened #199 "Scheduled Execution not supported as fmp"
Hello,

I am testing the "**Clocks.fmu**" from the Reference FMUs using **FMPy 0.2.25**.

Clocks.fmu is a "Scheduled Execution" fmu.

When trying to "instantiate" the fmu, FMPy produces the error:

File "C:\Users\coi1le\.conda\envs\FMPy_testEnv\lib\site-packages\fmpy\simulation.py", line 747, in instantiate_fmu
    raise Exception('FMI type "%s" is not supported by the FMU' % fmi_type)

"**instant

[2020-11-20 22:03] hyumo opened #200 "Additional arguments to step_finished callback function"
Is it possible to improve the `step_finished` function a bit so that additional arguments could be passed into it? This could possibly make it more flexible to control when `step_finished` should return `true`.

[2020-11-21 23:10] t-sommer commented on #200
Which parameters would you like to see added to `step_finished()`?

[2020-11-22 00:14] hyumo commented on #200
Is it possible to make it '*args' or '**kwargs'? A use case would be passing a tolerance value to terminates the simulation when model reaches steady state.

[2020-11-23 09:02] t-sommer commented on #200
Since these values don't change during the simulation you could capture them when you create the callback function:

[code]

[2020-11-23 22:06] hyumo commented on #200
Yeah, I get it, but this would become tricky if people want to make the tolerance value a variable.

Also, there might be other methods to terminate the sim as well which might require their arguments to be variables.

This is just an enhancement suggestion, it's not an urgent requirement.

[2020-11-24 08:47] AHaumer opened #201 "Bug in plot results?"
I wonder whether I'm doing something wrong, or there's some bug - and where.
During online teaching, I'm using FMPy - and I'm switching between two screens.
The result on the first screen looks good, on the second screen there's something wrong (have a look at both images).
I'm using Anaconda 3 on Windows 10, and installed the latest version of FMpy (conda ...).
![1](https://user-images.githubuser

[2020-11-24 08:55] t-sommer commented on #200
Please reopen if you have a concrete proposal or use case.

[2020-11-24 08:55] #200 closed

[2020-11-24 09:36] joerg-tt opened #202 "CVode solver not working when running python with -O flag"
When running python with the -O flag ("remove assert and __debug__-dependent statements"), the CVode solver fails to initialize.

The primary problem is that all assert statements are optimized out and the CVode-functions are never called:

https://github.com/CATIA-Systems/FMPy/blob/2d569cc200fa6288103795de133132c0ed55beed/fmpy/sundials/__init__.py#L95-L113

This also reveals a follow up error:

h

[2020-11-24 12:21] #202 closed

[2020-11-24 13:45] fajansen commented on #193
The branch works as requested! There is only an issue at termination of the simulation, it seems that this is not properly passed to the inner fmus.
As an additional feature it would be nice to be able to rename the exposed variables.

[2020-11-24 14:01] joerg-tt commented on #202
Great! Works perfectly.

[2020-11-24 14:29] t-sommer commented on #193
@fajansen, can you give 1f8a2f3c14a36be810a95e33c4474485d1eb72bf a try?

[2020-11-25 09:18] fajansen commented on #193
Termination of simulation works now as expected!
Renaming the exposed variables also works.

[2020-11-25 09:23] fajansen commented on #193
It might be confusing to always have support for all platforms in the container. For example the remoting mechanism would not properly detect that it should be enabled.

[2020-11-27 10:09] #193 closed

[2020-11-29 14:06] Kinshuk94 opened #203 "Needed some help regarding connecting multiple ME FMU"
Hello I really appreciate the work you have done in building the fmpy. I have currently been working on simulating multiple ME FMU together to run the simulation but I am unable to make progress. The co-simulation works fine but I am unable to find an example for connecting multiple ME FMU's together.
Thanks in advance.

[2020-11-30 21:13] t-sommer commented on #203
FMPy cannot simulate connected Model Exchange FMUs. For simulating Co-Simulation FMUs see #15 and #193.

[2020-11-30 21:13] #203 closed

[2020-11-30 21:15] t-sommer commented on #199
Solved with 5be4e0c14f558b4e01eb223b11616768a6b281b6.

[2020-11-30 21:15] #199 closed

[2020-11-30 21:16] t-sommer commented on #196
I have no experience with PyFMI, but feel free to share your experience with it here.

[2020-11-30 21:16] #196 closed

[2020-11-30 21:16] chrbertsch commented on #193
Would it be possible to provide a short documentation and example for this feature? Or have I overseen it? Thanks!

[2020-11-30 21:21] t-sommer commented on #201
This might be related to https://github.com/pyqtgraph/pyqtgraph/issues/756.

[2020-11-30 22:03] #201 closed

[2020-11-30 22:05] t-sommer commented on #193
See https://github.com/CATIA-Systems/FMPy/blob/master/tests/test_fmu_container.py for a demo of the new (experimental) API.

[2020-12-01 06:35] chrbertsch commented on #193
Thanks. So the connections are defined manually in by the "Configuration". Would it be possible to read in an SSP file instead and create the Congfiguration from it?

[2020-12-01 09:11] t-sommer commented on #193
Theoretically, yes.

[2020-12-01 09:19] chrbertsch opened #204 "Create FMU container from SSP file"
Enhancement proposal: It would be great to create the FMU container from an SSP file (using the connection information from there), see https://github.com/CATIA-Systems/FMPy/issues/193#issuecomment-736332117

[2020-12-02 10:15] t-sommer opened #205 "Use multi-threading in FMU Container"
on behalf of @fajansen

[2020-12-02 10:17] t-sommer commented on #205
@fajansen, can you give 5e7330bfecb7267e47137aec863f1878850ccd7c a try?

[2020-12-02 23:00] t-sommer opened #206 "Handle missing "derivative" attribute in fmu_check()"

[2020-12-02 23:02] #206 closed

[2020-12-03 15:20] fajansen opened #207 "Only import numpy when needed"
For one of my python tools I only use these two imports:

[code]

This should not require numpy. However, already the first import loads simulate_fmu which in turn imports from .util which in turn requires numpy. This dependency increases the footprint of my tool from ~15 MB to ~68 MB.

[2020-12-03 22:39] t-sommer opened #208 "Extract only required files in fmpy.extract()"

[2020-12-04 13:06] jbernalr opened #209 "add a default experiment stepsize to container fmu"
for instance the minium value of all included fmus
(not very high priority as it is easy to fix, but for the sake of consistency)